<section id="contact" class="contact">



    <!-- Headnling mit Strich-->
    <div class="contact-header">
        <div class="contact-header__line"></div>
          
        <div class="contact-header__headline">{{ 'contact.headline'  | translate }}</div>
    </div>


    <!-- Contact Text und Feld-->
    <div class="contact-content">

        <div class="contact-content__text">
            <div class="contact-content__text-headling">{{ 'contact.sub_headline'  | translate }}</div>
            <div class="contact-content__text-content">{{ 'contact.content'  | translate }}</div>
            <div class="contact-content__text-question">{{ 'contact.contact_need'  | translate }}<b>{{ 'contact.contact_me'  | translate }}</b></div>
        </div>

        <div class="contact-content__form-container">
            <form action="" class="contact-content__form">
                <input id="contact-name" class="contact-form_name" type="text" placeholder="{{ 'contact.input-name'  | translate }}" required>
                <input id="contact-mail" class="contact-form_mail" type="email" placeholder="{{ 'contact.input-mail'  | translate }}" utocomplete="email" required>
                <textarea name="" id="contact-message" class="contact-form_message" type="text" minlength="4" placeholder="{{ 'contact.input-message'  | translate }}" required></textarea>
                <div class="contact-form_agreement">
                    <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 18.5C1.45 18.5 0.979167 18.3042 0.5875 17.9125C0.195833 17.5208 0 17.05 0 16.5V2.5C0 1.95 0.195833 1.47917 0.5875 1.0875C0.979167 0.695833 1.45 0.5 2 0.5H16C16.55 0.5 17.0208 0.695833 17.4125 1.0875C17.8042 1.47917 18 1.95 18 2.5V16.5C18 17.05 17.8042 17.5208 17.4125 17.9125C17.0208 18.3042 16.55 18.5 16 18.5H2ZM2 16.5H16V2.5H2V16.5Z" fill="currentColor"/>
                    </svg>
                    <div>{{ 'contact.legal_agree-start'  | translate }} <a>{{ 'contact.legal_agree-center'  | translate }}</a> {{ 'contact.legal_agree-end'  | translate }}</div>
                </div>
                <div class="contact-form_button-container">
                    <button class="contact-form_button" type="submit">{{ 'contact.send'  | translate }}</button>
                </div>
            </form>
        </div>
        
    </div>


    <!-- blobb absolut-->
    <div class="contact-purple_shadow"></div>

    <!-- go up-->
     <div class="contact-go_up-container">
        <a href="#top" class="contact-go_up" aria-label="Contact - go Top">
            <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1" y="1" width="37" height="37" rx="18.5" stroke-width="2"  stroke="currentColor"/>
                <path d="M18 15.828L13.343 20.485C12.9526 20.8755 12.3195 20.8755 11.929 20.485C11.5386 20.0945 11.5386 19.4615 11.929 19.071L18.2929 12.7071C18.6834 12.3166 19.3166 12.3166 19.7071 12.7071L26.071 19.071C26.4615 19.4615 26.4615 20.0945 26.071 20.485C25.6806 20.8755 25.0475 20.8755 24.657 20.485L20 15.828L20 27C20 27.5523 19.5523 28 19 28C18.4477 28 18 27.5523 18 27L18 15.828Z" fill="currentColor"/>
            </svg>
        </a>
     </div>

    
</section>
