<section id="contact" class="contact">

    <!-- Headnling mit Strich-->
    <div class="contact-header"  [ngClass]="{ 'is-inview': titleInView }" #titleRow>
        <div class="contact-header__line"></div>
          
        <!-- <div class="contact-header__headline">{{ 'contact.headline'  | translate }}</div> -->
         <h2 class="contact-header__headline">{{ 'contact.headline'  | translate }}</h2>

    </div>

    <!-- Contact Text und Feld-->
    <div class="contact-content">

        <div class="contact-content__text">
            <div class="contact-content__text-headling" [ngClass]="{ 'is-inview': infoInView[0] }" #row1>{{ 'contact.sub_headline'  | translate }}</div>
            <div class="contact-content__text-content" [ngClass]="{ 'is-inview': infoInView[1] }" #row2>{{ 'contact.content'  | translate }}</div>
            <div class="contact-content__text-question" [ngClass]="{ 'is-inview': infoInView[2] }" #row3>{{ 'contact.contact_need'  | translate }}<b>{{ 'contact.contact_me'  | translate }}</b></div>
        </div>

        <div class="contact-content__form-container">
            <form #contactForm="ngForm" action="" class="contact-content__form">

                <div class="contact-form-group" [ngClass]="{ 'is-inview': formInView[0] }" #form1>
                    <div class="input-icon-wrapper">
                        <label for="contact-name" class="sr-only">{{ 'contact.input-name'  | translate }}</label>
                        <input id="contact-name"
                            #nameInput
                            name="contactName"
                            class="contact-form_name"
                            type="text"
                            placeholder="{{ 'contact.input-name'  | translate }}"
                            required
                            [(ngModel)]="contactName"
                            [ngClass]="{
                                'input-error': nameValid === false || (inputFocused && !contactName && contactName !== ''),
                                'input-success': nameValid === true
                            }"
                            (focus)="inputFocused = true"
                            (blur)="inputFocused = false; validateName()" 
                        />
                        <span class="error-icon-inside"
                            *ngIf="nameValid === false && nameErrorKey">!</span>
                        <span class="success-icon-inside"
                            *ngIf="nameValid === true">&#10003;</span>
                    </div>
                    <div class="contact-form__feedback" *ngIf="nameValid === false && nameErrorKey">
                        {{ nameErrorKey | translate }}
                    </div>
                </div>

                <div class="contact-form-group" [ngClass]="{ 'is-inview': formInView[1] }" #form2>
                    <div class="input-icon-wrapper">
                        <label for="contact-mail" class="sr-only">{{ 'contact.input-mail' | translate }}</label>
                        <input id="contact-mail"
                            name="contactMail"
                            class="contact-form_mail"
                            type="email"
                            placeholder="{{ 'contact.input-mail' | translate }}"
                            required
                            [(ngModel)]="contactMail"
                            [ngClass]="{
                                'input-error': mailValid === false || (mailInputFocused && !contactMail),
                                'input-success': mailValid === true
                            }"
                            (focus)="mailInputFocused = true"
                            (blur)="mailInputFocused = false; validateMail()" 
                        />
                        <span class="error-icon-inside"
                        *ngIf="mailValid === false && mailErrorKey">!</span>
                        <span class="success-icon-inside"
                        *ngIf="mailValid === true">&#10003;</span>
                    </div>
                    <div class="contact-form__feedback" *ngIf="mailValid === false && mailErrorKey" role="alert">
                        {{ mailErrorKey | translate }}
                    </div>
                </div>

                <div class="contact-form-group" [ngClass]="{ 'is-inview': formInView[2] }" #form3>
                    <div class="input-icon-wrapper-msg">
                        <label for="contact-message" class="sr-only">{{ 'contact.input-message'  | translate }}</label>
                        <textarea 
                            name="contactMessage" 
                            id="contact-message"
                            class="contact-form_message"
                            type="text" minlength="4" 
                            placeholder="{{ 'contact.input-message'  | translate }}" 
                            required
                            [(ngModel)]="contactMessage"
                            [ngClass]="{
                                'input-error': msgValid === false || (msgInputFocused && !contactMessage),
                                'input-success': msgValid === true
                            }"
                            (focus)="msgInputFocused = true"
                            (blur)="msgInputFocused = false; validateMessage()"
                            >
                        </textarea>

                        <span class="error-icon-inside"
                            *ngIf="msgValid === false && msgErrorKey">!
                        </span>
                        <span class="success-icon-inside"
                            *ngIf="msgValid === true">&#10003;
                        </span>

                        <div 
                            class="counter"
                            *ngIf="msgInputFocused && contactMessage.length > 0"
                            [ngClass]="{
                                'warning' : contactMessage.length > 950
                            }"
                        >
                            {{ contactMessage.length }} / 1000 {{ 'contact.chars' | translate }}
                        </div>

                    </div>
                    <div class="contact-form__feedback" *ngIf="msgValid === false && msgErrorKey">
                        {{ msgErrorKey | translate }}
                    </div>
                </div>
                
                <div class="contact-form-group" [ngClass]="{ 'is-inview': formInView[3] }" #form4>
                    <div class="contact-form_agreement">

                        <label class="contact-form_agreement-checkbox">
                            <input
                                name="privacyChecked"
                                type="checkbox"
                                [(ngModel)]="privacyChecked"
                                [attr.aria-label]="'contact.privacy_policy_aria' | translate"
                            />
                            <ng-container *ngIf="privacyChecked; else noCheck">
                                <svg aria-hidden="true" width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M7.6 10.9L5.45 8.75C5.26667 8.56667 5.03333 8.475 4.75 8.475C4.46667 8.475 4.23333 8.56667 4.05 8.75C3.86667 8.93333 3.775 9.16667 3.775 9.45C3.775 9.73333 3.86667 9.96667 4.05 10.15L6.9 13C7.1 13.2 7.33333 13.3 7.6 13.3C7.86667 13.3 8.1 13.2 8.3 13L13.95 7.35C14.1333 7.16667 14.225 6.93333 14.225 6.65C14.225 6.36667 14.1333 6.13333 13.95 5.95C13.7667 5.76667 13.5333 5.675 13.25 5.675C12.9667 5.675 12.7333 5.76667 12.55 5.95L7.6 10.9ZM2 18.5C1.45 18.5 0.979167 18.3042 0.5875 17.9125C0.195833 17.5208 0 17.05 0 16.5V2.5C0 1.95 0.195833 1.47917 0.5875 1.0875C0.979167 0.695833 1.45 0.5 2 0.5H16C16.55 0.5 17.0208 0.695833 17.4125 1.0875C17.8042 1.47917 18 1.95 18 2.5V16.5C18 17.05 17.8042 17.5208 17.4125 17.9125C17.0208 18.3042 16.55 18.5 16 18.5H2ZM2 16.5H16V2.5H2V16.5Z" fill="currentColor"/> </svg>
                            </ng-container>
                            <ng-template #noCheck>
                                <svg aria-hidden="true" width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M2 18.5C1.45 18.5 0.979167 18.3042 0.5875 17.9125C0.195833 17.5208 0 17.05 0 16.5V2.5C0 1.95 0.195833 1.47917 0.5875 1.0875C0.979167 0.695833 1.45 0.5 2 0.5H16C16.55 0.5 17.0208 0.695833 17.4125 1.0875C17.8042 1.47917 18 1.95 18 2.5V16.5C18 17.05 17.8042 17.5208 17.4125 17.9125C17.0208 18.3042 16.55 18.5 16 18.5H2ZM2 16.5H16V2.5H2V16.5Z" fill="currentColor"/> </svg>
                            </ng-template>
                        </label>

                        <div>
                        {{ 'contact.legal_agree-start'  | translate }}
                        <a href="#" (click)="openPrivacyModal(); $event.preventDefault();">
                            {{ 'contact.legal_agree-center' | translate }}
                        </a>

                        {{ 'contact.legal_agree-end'  | translate }}
                        </div>
                    </div>
                    <div *ngIf="privacyErrorVisible" class="privacy-error">
                        {{ 'contact.privacy_error' | translate }}
                    </div>
                </div>

                <div class="contact-form-group" [ngClass]="{ 'is-inview': formInView[4] }" #form5>
                    <div class="contact-form_button-container">

                        <div class="contact-form_button_error" *ngIf="sendError" aria-live="assertive">
                            {{ sendError | translate }}
                        </div>

                        <button
                            class="contact-form_button"
                            type="button"
                            (click)="onButtonClick()"
                            [ngClass]="{ 
                                'btn-disabled': !allFieldsValid || !privacyChecked, 
                                'btn-active': allFieldsValid && privacyChecked 
                            }"
                            [disabled]="!allFieldsValid || !privacyChecked"
                            [style.cursor]="privacyChecked && allFieldsValid ? 'pointer' : 'not-allowed'"
                        >
                        {{ 'contact.send' | translate }}
                        </button>
                    </div>
                </div>


            <div class="contact-success-overlay" *ngIf="showSuccessOverlay" aria-live="polite" role="status">
                <div class="success-message">
                    
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                        width="80" height="80" viewBox="0 0 1280 1221">
                            <g transform="translate(0,1221) scale(0.1,-0.1)" fill="currentColor" stroke="none">
                            <path d="M12338 12195 c-221 -42 -535 -187 -1078 -498 -1589 -910 -2995 -2217
                            -4032 -3747 -521 -769 -946 -1582 -1285 -2460 -136 -353 -307 -890 -403 -1268
                            l-11 -43 -92 79 c-827 707 -2285 1843 -2451 1910 -160 65 -451 25 -691 -95
                            -114 -58 -167 -93 -232 -156 -62 -60 -81 -103 -61 -144 8 -17 99 -92 238 -196
                            520 -387 866 -655 1290 -996 585 -471 1044 -862 1748 -1490 123 -109 154 -125
                            276 -137 217 -22 617 105 782 250 56 48 70 75 84 162 198 1196 527 2224 1051
                            3285 390 789 812 1449 1370 2144 747 930 1585 1698 2565 2352 312 209 598 374
                            1059 614 165 86 210 114 257 161 115 115 101 205 -41 259 -73 28 -235 34 -343
                            14z"/>
                            <path d="M5330 11099 c-384 -14 -742 -64 -1120 -159 -820 -205 -1554 -579
                            -2225 -1136 -168 -139 -541 -512 -680 -679 -741 -893 -1163 -1900 -1282 -3055
                            -21 -207 -24 -793 -5 -980 36 -352 81 -618 154 -905 393 -1552 1460 -2876
                            2898 -3596 639 -319 1257 -494 2015 -570 198 -20 768 -17 980 4 702 73 1293
                            238 1903 532 959 463 1795 1227 2344 2141 447 744 697 1518 780 2414 18 203
                            16 727 -6 940 -92 938 -387 1780 -894 2555 -169 260 -327 460 -379 481 -71 30
                            -160 5 -204 -57 -26 -36 -37 -120 -21 -159 6 -14 49 -74 97 -135 110 -140 291
                            -411 389 -584 654 -1141 854 -2473 565 -3753 -225 -998 -767 -1942 -1517
                            -2642 -1200 -1120 -2809 -1610 -4421 -1345 -910 149 -1751 537 -2491 1148
                            -141 116 -526 500 -639 636 -290 349 -498 669 -691 1060 -288 585 -448 1149
                            -516 1825 -21 202 -23 703 -5 900 83 900 362 1708 838 2428 864 1309 2243
                            2155 3793 2327 402 45 905 36 1300 -21 560 -82 1048 -233 1580 -490 129 -63
                            227 -104 245 -104 46 1 109 34 136 71 19 28 24 46 24 100 0 106 -16 120 -269
                            244 -844 412 -1723 598 -2676 564z"/>
                            </g>
                        </svg>

                    <div class="success-text">
                    {{ 'contact.success' | translate }}
                    </div>
                </div>
            </div>
            </form>

            <div class="modal-overlay" *ngIf="showPrivacyModal" (click)="closePrivacyModal()">
                <div class="modal-content" (click)="$event.stopPropagation()">
                    <button class="modal-close" (click)="closePrivacyModal()" aria-label="Close modal">&times;</button>
                    <app-privacy-policy (close)="closePrivacyModal()"></app-privacy-policy>
                </div>
            </div>

        </div>
        
    </div>

    <div class="contact-purple_shadow"></div>

     <div class="contact-go_up-container">
        <a href="#top" class="contact-go_up" aria-label="Contact - go Top">
            <svg aria-hidden="true" width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1" y="1" width="37" height="37" rx="18.5" stroke-width="2"  stroke="currentColor"/>
                <path d="M18 15.828L13.343 20.485C12.9526 20.8755 12.3195 20.8755 11.929 20.485C11.5386 20.0945 11.5386 19.4615 11.929 19.071L18.2929 12.7071C18.6834 12.3166 19.3166 12.3166 19.7071 12.7071L26.071 19.071C26.4615 19.4615 26.4615 20.0945 26.071 20.485C25.6806 20.8755 25.0475 20.8755 24.657 20.485L20 15.828L20 27C20 27.5523 19.5523 28 19 28C18.4477 28 18 27.5523 18 27L18 15.828Z" fill="currentColor"/>
            </svg>
        </a>
     </div>

</section>