@use '../../../styles/_variables' as *;
@use '../../../styles/_mixins' as *;


.contact {
    position: relative;
    background-color: $color-bg;
    max-width: $container-max;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    min-height: 300px;
    overflow: hidden;
}

.contact-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 40px;
  opacity: 0;
  transform: rotateX(60deg) scale(0.96) translateX(-100px);   
  max-width: 93%; 
}

.contact-header.is-inview {
  animation: flipInYFromLeft  0.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  animation-delay: 0.1s;
}

.contact-header__line {
  height: 4px;
  width: 535px;
  background: $color-primary;
  border-radius: 2px;
  z-index: 5;
}

.contact-header__headline {
    padding-left: 32px;
    font-weight: 700;
    font-size: 90px;
    line-height: 120%;
    color: $color-text;
    z-index: 5;
}

.contact-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    gap: 16px;
}

.contact-content__text {
    width: 474px;
    z-index: 10;
}

.contact-content__text-headling {
    font-size: 32px;
    line-height: 120%;
    font-weight: 700;
    padding-bottom: 24px;
    opacity: 0;
    transform: perspective(800px) rotateX(60deg) scale(0.96);
}

.contact-content__text-headling.is-inview {
  animation: flipInY 0.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  animation-delay: 0.1s;
}

.contact-content__text-content {
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
    padding-bottom: 16px;
}

.contact-content__text-question {
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
}

.contact-content__text-content,
.contact-content__text-question {
  opacity: 0;
  transform: perspective(700px) rotateX(80deg) scale(0.98);
  transition: opacity 0.2s; 
}

.contact-content__text-content.is-inview,
.contact-content__text-question.is-inview {
  animation: flipInY_text 0.2s linear forwards;
  animation-delay: 0.2s; 
}

.contact-content__form-container {
    width: 617px;
    margin-bottom: 180px;
}

.contact-content__form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    z-index: 10;
}

.contact-content__form {
    width: 100%;
}

.contact-form_name,
.contact-form_mail,
.contact-form_message {
    width: 100%;
    border-radius: 10px;
    background-color: $color-bg;
    border: 1px solid $color-secondary;
    border-radius: 10px;
    padding-left: 16px;
    color: $color-text;
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;

    &:hover {
        border: 1px solid $color-primary;
    }

}

input::placeholder        { @include placeholder-style; }
input::-webkit-input-placeholder { @include placeholder-style; }
input::-moz-placeholder   { @include placeholder-style; }
input:-ms-input-placeholder     { @include placeholder-style; }
input::-ms-input-placeholder    { @include placeholder-style; }

textarea::placeholder        { @include placeholder-style; }
textarea::-webkit-input-placeholder { @include placeholder-style; }
textarea::-moz-placeholder   { @include placeholder-style; }
textarea:-ms-input-placeholder     { @include placeholder-style; }
textarea::-ms-input-placeholder    { @include placeholder-style; }

.contact-form_name,
.contact-form_mail {
    height: 50px;
}

.contact-form_message {
    height: 200px;
    padding-top: 16px;
    resize: none;
}

.contact-form_agreement {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 400;
    gap: 8px;
    z-index: 20;
}

.contact-form_agreement-checkbox {
    position: relative;
    z-index: 1;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    width: 24px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-primary;
    &:hover {
        background-color: $color-accent;
    }
}

.contact-form_agreement-checkbox input[type="checkbox"]:focus-visible + svg,
.contact-form_agreement-checkbox input[type="checkbox"]:focus-visible ~ svg {
  outline: 2px solid $color-primary;
  outline-offset: 3px;
  border-radius: 4px;
}

.contact-form_agreement a {
    color: $color-secondary-wcag;

    &:hover {
        color: $color-primary;
    }
}

.contact-form_button-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.contact-form_button {
    width: 253px;
    height: 58px;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    color: $color-text;
    background-color: $color-muted;
    border: none;
    font-size: 23px;
    line-height: 120%;
    font-weight: 400;

    &.checked {
        background-color: $color-primary;
    }

    &:hover {
        cursor: pointer;
    }
}

.contact-purple_shadow {
  position: absolute;
  content: none;
  left: 0;
  top: 284px;
  width: 678px;
  height: 805px;
  background: url(/assets/img/contact/contact_purple_shadow.png);
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  z-index: 0;
}

.contact-go_up-container {
    width: 100%;
    position: relative;
}

.contact-go_up {
  position: absolute;
  right: 100px;
  bottom: 81px;
  z-index: 10;
  color: $color-text;

    &:hover {
        color: $color-primary;
    }
}

.contact-form-group {
    width: 100%;
    transform: rotateX(60deg) scale(0.96) translateX(150px);
    opacity: 0;    
}

.contact-form-group.is-inview {
  animation: flipInX 0.2s linear forwards;
  animation-delay: 0.1s;
}

.contact-form_name {
  border: 1px solid $color-secondary;
  transition: border-color 0.2s ease-in-out;
  &:hover { border: 1px solid $color-primary; }
  &:focus { border: 1px solid $color-error; }
  &:focus::placeholder {
    color: transparent;
    transition: color 0.2s; 
  }
  &.input-success {
    border: 1px solid $color-success !important;
  }
}

.contact-form_name.ng-invalid.ng-touched {
  border: 1px solid $color-error;
}

.contact-form_name.input-error,
.contact-form_name.input-error:focus {
  border: 1px solid $color-error !important;
  outline: none;
}

.contact-form_name.input-error:focus,
.contact-form_name.input-error {
  border: 1px solid $color-error;
  outline: none;
}

.contact-form_name .input-success {
    border: 1px solid $color-success !important;
}

.input-icon-wrapper .contact-form_mail.input-success,
.input-icon-wrapper .contact-form_mail.input-success:focus {
  border: 1px solid $color-success !important;
}

.input-icon-wrapper .contact-form_mail.input-error,
.input-icon-wrapper .contact-form_mail.input-error:focus {
  border: 1px solid $color-error !important;
}

.contact-form__feedback {
  color: $color-error;
  font-size: 14px;
  margin-top: 4px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.input-icon-wrapper,
.input-icon-wrapper-msg {
  position: relative;
  width: 100%;

  input {
    width: 100%;
    padding-right: 38px;
  }

  .error-icon-inside,
  .success-icon-inside {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: 16px;
    pointer-events: none;
  }

  .error-icon-inside {
    background: $color-error;
    color: $color-bg;
  }

  .success-icon-inside {
    background: $color-success;
    color: $color-text_primary;
  }
}

.input-icon-wrapper-msg {
  .error-icon-inside,
  .success-icon-inside {
    top: 12%;
  }
}

.input-icon-wrapper-msg .contact-form_message.input-success,
.input-icon-wrapper-msg .contact-form_message.input-success:focus {
  border: 1px solid $color-success !important;
}

.input-icon-wrapper-msg .contact-form_message.input-error,
.input-icon-wrapper-msg .contact-form_message.input-error:focus {
  border: 1px solid $color-error !important;
}

.sr-only {
  position: absolute !important;
  width: 1px; height: 1px;
  padding: 0; margin: -1px;
  overflow: hidden; clip: rect(0,0,0,0);
  border: 0;
  white-space: nowrap;
}

.counter {
  position: absolute;
  right: 16px;
  bottom: -14px;
  font-size: 13px;
  color: $color-secondary-wcag;
}

.counter.warning { 
  color: $color-error; 
}

.contact-form_agreement-checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  width: 18px;
  height: 19px;
  margin: 0;
  z-index: 2;
  cursor: pointer;
}

.contact-form_agreement-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.contact-form_agreement-checkbox svg {
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.privacy-error {
  color: $color-error;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}

.contact-form_button.button-disabled {
  background-color: $color-muted;
  color: $color-bg;
  cursor: not-allowed;
  pointer-events: all;
}

.contact-form_button.btn-disabled {
  background: $color-muted;
  color: $color-bg;
  cursor: not-allowed;
  opacity: 0.8;
}

.contact-form_button.btn-active {
  background: $color-primary-wcag;
  color: $color-text;
  cursor: pointer;
  opacity: 1;
  transition: background 0.2s, color 0.2s;
}

.modal-overlay {
  position: fixed;
  z-index: 100000;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(16,18,36,0.85);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: $color-bg;
  color: $color-text_primary;
  border-radius: 16px;
  width: 94vw;
  max-height: 80vh;
  overflow: auto;
  box-shadow: 0 6px 32px 0 $color-bg-mobile;
  position: relative;
}

.modal-close {
  position: absolute;
  right: 1.2rem; top: 1.2rem;
  font-size: 2rem;
  background: none; border: none; color: $color-text_primary; cursor: pointer;
}

.modal-scroll-content {
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 1.6;
}

.no-scroll {
  overflow: hidden !important;
  height: 100dvh;
}

.contact-success-overlay {
  position: absolute;
  top: -4px; 
  left: 0;
  width: 100%; 
  height: 102%;
  backdrop-filter: blur(4px);
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  border-radius: 4px;
  opacity: 0;
  animation:
    fade-in 0.2s cubic-bezier(0.77,0,0.175,1) forwards,
    fade-out 0.4s cubic-bezier(0.77,0,0.175,1) 1.1s forwards;
}

.success-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(250,250,250,0.3);
  padding: 2em 1.5em;
  border-radius: 0.7em;
  box-shadow: 0 4px 24px #17BF6333;
  animation: pop-in 0.44s cubic-bezier(0.77,0,0.175,1);
  color: $color-text_green;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.02em;

    box-shadow:
    0 4px 24px 0 rgba(23, 169, 99, 0.15),
    0 1.5px 18px 0 rgba(0,0,0,0.2);
}

.success-message svg {
  display: block;
  margin-bottom: 0.3em;
  width: 64px; height: 64px;
  color: $color-text_green;
}

.success-text {
  text-align: center;
  color: $color-text_green;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}


.contact-form_button_error {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%) translateY(-8px);
  background: #e61c40;
  color: #fff;
  padding: 6px 18px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(0,0,0,0.14);
  white-space: pre-line;
  text-align: center;
  transition: opacity 0.2s, transform 0.2s;
  aria-live: assertive;
  opacity: 1;
  animation: fadeInUp 0.25s ease;
}

@media (max-width: 600px) {
  .contact-form_button_error {
    font-size: 0.93rem;
    padding: 5px 12px;
  }
}

// Import Keyframes
@import './contact-keyframes.component.scss';

// Import mobile Media Queries
@import './contact-queries.component.scss';