<header class="welcomeHeader">
  <div class="name">
    <a href="#welcome">Meik<span class="greenTheme">B</span>ehr</a>
  </div>

  <nav class="normalNav">
    <a href="#aboutMe" (click)="scrollTo('aboutMe', $event)">{{ 'ABOUT_ME' | translate }}</a>
    <a href="#mySkills" (click)="scrollTo('mySkills', $event)">{{ 'SKILLS' | translate }}</a>
    <a href="#portfolio" (click)="scrollTo('portfolio', $event)">{{ 'PORTFOLIO' | translate }}</a>
    <a (click)="switchLanguage()">{{ currentLang }}</a>
  </nav>

  <div (click)="openWrapper()" class="navIcon" id="menu">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- Mobile Menü Overlay -->
  <nav class="navAlternative" [class.open]="isMobileMenuOpen">
    <a href="#aboutMe" (click)="scrollTo('aboutMe', $event)">{{ 'ABOUT_ME' | translate }}</a>
    <a href="#mySkills" (click)="scrollTo('mySkills', $event)">{{ 'SKILLS' | translate }}</a>
    <a href="#portfolio" (click)="scrollTo('portfolio', $event)">{{ 'PORTFOLIO' | translate }}</a>
    <a (click)="switchLanguage()">{{ currentLang }}</a>
  </nav>
</header>
