@use "sass:color";
@use 'sass:math';
@use '_variables' as *;

/**
 * Sets accessible, readable placeholder styles for all inputs.
 * Use with ::placeholder pseudo-selector for WCAG compliance.
 */
@mixin placeholder-style {
  color: $color-text;
  font-family: Poppins;
  line-height: 120%;
  font-size: 16px;
  opacity: 1;
}