@use "sass:color";
@use 'sass:math';

$color-primary: #70E61C;
$color-secondary: #9747FF;
$color-text_primary: #ffffff;
$color-text_purple: #9747FF;
$color-text_green: #70E61C;

$header-high: 100px;


/* === DESIGN TOKENS (Figma) =================================== */
/* Farben */
$color-primary:        #70E61C;
$color-secondary:      #9747FF;
$color-bg:             #141D2F;
$color-bg-mobile:      #141D2FCC;
$color-text:           #ffffff;
$color-muted:          #B6B6B6;
$color-accent:         #18346D;

/* Typo */
$font-family:          'Poppins', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
$body-size:            16px;
$line-height:          1.5;
$h1-size:              48px;   // TODO
$h2-size:              32px;   // TODO
$h3-size:              24px;   // TODO

/* Spacing Scale */
$sp-1: 4px;
$sp-2: 8px;
$sp-3: 12px;
$sp-4: 16px;
$sp-5: 24px;
$sp-6: 32px;
$sp-7: 48px;

/* Radii & Shadow */
$radius-sm:            8px;
$radius-md:            16px;
$radius-lg:            24px;
$shadow-sm:            0 2px 10px rgba(0,0,0,.25);
$shadow-md:            0 8px 24px rgba(0,0,0,.35);


/* Container */
$container-max: 1440px !default;
$header-height: 100px !default;
$container-pad: clamp(16px, 4vw, 48px) !default;


/* Media Breakpoints*/
// 1200px oder schmaler 
$breakpoint-lg: 75em!default;

// 1024px oder schmaler 
$breakpoint-norm: 64em!default;

// 992px oder schmaler 
$breakpoint-md: 62em!default;

// 768px oder schmaler 
$breakpoint-sm: 48em!default;

// 576px oder schmaler 
$breakpoint-xs: 36em!default;

// 448px oder schmaler 
$breakpoint-xxs: 28em!default;


/*
Bezeichnung     Breite (px)     Typisches Gerät/Use-Case
320	       X        320	        Minimum, „iPhone SE“, Ultra-Klein
375        X    	375	        iPhone 6/7/8/X/12 mini, Google Pixel
390	       X        390	        Neuere iPhones, z. B. iPhone 14
425	       X        425	        Galaxy S8+, größere Smartphones
480/500	   X        480–500    	Kleine Tablets im Portrait, Foldables
600             	600	        Kleine Tablets, Galaxy Fold Landscape
768	       X        768	        iPad, Standard-Tablet
950	       X        950	        Dein eigener Tablet/Small-Desktop-Cut
1024       X    	1024      	Standard iPad Landscape, Surface
1200       X    	1200    	Kleiner Desktop/Laptop
1440       X    	1440	    Großer Desktop, FullHD, Macbook


@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
  
}

@media (max-width: 950px) {

}

@media (max-width: 768px) {
  
}

@media (max-width: 500px) {
  
}

@media (max-width: 390px) {
  
}

@media (max-width: 320px) {
  
}

*/