@use "sass:color";
@use 'sass:math';

/**
Project-wide design tokens for color, typography, layout and breakpoints.
Adjust here to update theme globally.
*/


$color-primary: #70E61C;
$color-secondary: #9747FF;
$color-text_primary: #ffffff;
$color-text_purple: #9747FF;
$color-text_green: #70E61C;

$header-high: 100px;

/* === DESIGN TOKENS (Figma) =================================== */
/* Farben */
$color-primary:        #70E61C;
$color-secondary:      #9747FF;
$color-bg:             #141D2F;
$color-bg-mobile:      #141D2FCC;
$color-text:           #ffffff;
$color-muted:          #B6B6B6;
$color-accent:         #18346D;
$color-error:          #E61C40;
$color-success:        #70E61C;

/* Typo */
$font-family:          'Poppins', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
$body-size:            16px;
$line-height:          1.5;
$h1-size:              48px;
$h2-size:              32px;
$h3-size:              24px;

/* Spacing Scale */
$sp-1: 4px;
$sp-2: 8px;
$sp-3: 12px;
$sp-4: 16px;
$sp-5: 24px;
$sp-6: 32px;
$sp-7: 48px;

/* Radii & Shadow */
$radius-sm:            8px;
$radius-md:            16px;
$radius-lg:            24px;
$shadow-sm:            0 2px 10px rgba(0,0,0,.25);
$shadow-md:            0 8px 24px rgba(0,0,0,.35);

/* Container */
$container-max: 1440px !default;
$header-height: 100px !default;
$container-pad-l-r: 7vw;

/* Media Breakpoints*/
// 1200px oder schmaler 
$breakpoint-lg: 75em!default;

// 1024px oder schmaler 
$breakpoint-norm: 64em!default;

// 992px oder schmaler 
$breakpoint-md: 62em!default;

// 768px oder schmaler 
$breakpoint-sm: 48em!default;

// 576px oder schmaler 
$breakpoint-xs: 36em!default;

// 448px oder schmaler 
$breakpoint-xxs: 28em!default;