

<section class="portfolio">


    <header class="portfolio_header">
        <div class="portfolio_header__wrapper">
            <div class="portfolio_header__headlineContainer" [ngClass]="{ 'is-inview': titleInView }" #titleRow>
                <div class="portfolio_header-content__line-left"></div>
                <h2 class="portfolio_header__headline">{{ 'projects.headline' | translate }}</h2>
                <div class="portfolio_header-content__line-right"></div>
            </div>
            <div class="portfolio_head-content__variety" [ngClass]="{ 'is-inview': varietyInView }" #variety>{{ 'projects.variety' | translate }}</div>
          </div>
    </header>


    <header class="portfolio_header-mobile">

        <div class="portfolio_header__wrapper-mobile" [ngClass]="{ 'is-inview': headerMobileInView }" #headerMobile>
            <div class="portfolio_header-mobile-left">
                <div class="portfolio_header-content__line-left-mobile"></div>
            </div>
            <div class="portfolio_header-mobile-center">
                <h2 class="portfolio_header__headline-mobile">{{ 'projects.headline' | translate }}</h2>
            </div>
            <div class="portfolio_header-mobile-right">
                <div class="portfolio_header-content__line-right-mobile"></div>
            </div>
        </div>




        <div class="portfolio_head-content__wrapper-mobile" [ngClass]="{ 'is-inview': varietyMobileInView }" #varietyMobile>
            <div class="portfolio_head-content__variety-mobile">
                {{ 'projects.variety' | translate }}
            </div>
        </div>
    </header>


    <section class="portfolio_content-container">

        <section class="portfolio_card-links" [ngClass]="{ 'is-inview': cardsInView[0] }" #card1>
            <article class="portfolio_card-links-img">
                <img src="./assets/img/projects/projects_join.png" alt="">
            </article>
            <article class="portfolio_card-links-container">
                <div>{{ 'projects.join.headline' | translate }}</div>
                <div>{{ 'projects.join.skills' | translate }}</div>
                <div>{{ 'projects.join.variety' | translate }}</div>
                <div>
                    <a href="https://join.develobehr.de" target="_blank" rel="noopener noreferrer"><button class="portfolio_btn-live">Live test</button></a>
                    <a href="https://github.com/MeikBehr/JOIN-230" target="_blank" rel="noopener noreferrer"><button class="portfolio_btn-github">GitHub</button></a>
                </div>
            </article>
        </section>


        <section class="portfolio_card-rechts" [ngClass]="{ 'is-inview': cardsInView[1] }" #card2>
            <article class="portfolio_card-rechts-container">
                <div>{{ 'projects.elPolloLoco.headline' | translate }}</div>
                <div>{{ 'projects.elPolloLoco.skills' | translate }}</div>
                <div>{{ 'projects.elPolloLoco.variety' | translate }}</div>
                 <div>
                    <a href="https://el-pollo-loco.develobehr.de" target="_blank" rel="noopener noreferrer"><button class="portfolio_btn-live">Live test</button></a>
                    <a href="https://github.com/MeikBehr/ElPolloLoco" target="_blank" rel="noopener noreferrer"><button class="portfolio_btn-github">GitHub</button></a>
                 </div>
            </article>
            <article class="portfolio_card-rechts-img">
                <img src="./assets/img/projects/projects_el_pollo_loco.png" alt="">
            </article>
        </section>

        <section class="portfolio_card-links" [ngClass]="{ 'is-inview': cardsInView[2] }" #card3>

            <article class="portfolio_card-links-img">
                <img src="./assets/img/projects/projects_pokedex.png" alt="">
            </article>
            
            <article class="portfolio_card-links-container">
                <div>{{ 'projects.pokedex.headline' | translate }}</div>
                <div>{{ 'projects.pokedex.skills' | translate }}</div>
                <div>{{ 'projects.pokedex.variety' | translate }}</div>
                <div>
                    <a href="https://pokedex.develobehr.de" target="_blank" rel="noopener noreferrer"><button class="portfolio_btn-live">Live test</button></a>
                    <a href="https://github.com/MeikBehr/m9_pokedex" target="_blank" rel="noopener noreferrer"><button class="portfolio_btn-github">GitHub</button></a>
                </div>
            </article>

        </section>

    </section>

    <div class="portfolio_purple-shadow"></div>

</section>