@use '../../../styles/_variables' as *;


@media (max-width: 6000px) {
  .portfolio {
    margin-top: 320px;
  }
}

@media (max-width: 3500px) {
  .portfolio {
    margin-top: 200px;
  }
}

@media (max-width: 3000px) {
  .portfolio {
    margin-top: 100px;
  }
}

@media (max-width: 2600px) {
  .portfolio {
    margin-top: 0px;
  }
}

@media (max-width: 1200px) {
  .portfolio_purple-shadow {
    top: 240px;
  }

  .portfolio_content-container {
    padding-left: $container-pad-l-r;
    padding-right: $container-pad-l-r;
  }

  .portfolio_card-links-container > div:last-child,
  .portfolio_card-rechts-container > div:last-child {
    gap: 60px;
  }

  .portfolio_card-links,
  .portfolio_card-rechts {
    gap: 0px;
  }
}

@media (max-width: 1024px) {

  .portfolio_header__wrapper {
    max-width: 90%;
  }

  .portfolio_card-links-img img,
  .portfolio_card-rechts-img img {
    max-width: 420px;
  }

  .portfolio_card-links-container {
      padding-left: 50px;
      max-width: 420px;
  }

  .portfolio_card-rechts-container {
      padding-right: 50px;
      max-width: 420px;
  }
}


@media (max-width: 950px) {
  .portfolio_head-content__variety-mobile {
    padding-top: 32px;
  }

  .portfolio_header {
    display: none;
  }

  .portfolio_card-links,
  .portfolio_card-rechts {
    flex-direction: column;
  }

  .portfolio_card-links-container,
  .portfolio_card-rechts-container {
    align-items: center;
    text-align: center;
    padding-top: 35px;
  }

  .portfolio_card-rechts {
    align-items: center;
    flex-direction: column-reverse;
  }

  .portfolio_header-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .portfolio_header-mobile-left {
    position: relative;
    content: '';
    width: 100%;
  }

  .portfolio_header-content__line-left-mobile {
    content: '';
    position: absolute;
    height: 4px;
    right: 0;
    left: 62px;
    background: $color-primary;
    border-radius: 2px;
  }

  .portfolio_header-mobile-center {
    padding: 0 16px;
  }

  .portfolio_header__headline-mobile {
    font-size: 90px;
    font-weight: 700;
    color: $color-text_primary;
    line-height: 1.2;
    letter-spacing: 0.75px;
    margin: 0;
  }

  .portfolio_header-content__line-right-mobile {
    content: '';
    display: block;
    height: 4px;
    width: 100px;
    background: $color-primary;
    border-radius: 2px;
    width: 100%;
  }

  .portfolio_header-mobile-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .portfolio_card-links-container,
  .portfolio_card-rechts-container {
    width: 620px;
    max-width: 620px;
  }

  .portfolio_card-links-img img,
  .portfolio_card-rechts-img img {
    max-width: 620px;
  }

  .portfolio_card-links-container {
      padding-left: 0px;
  }

  .portfolio_card-rechts-container {
      padding-right: 0px;
  }

}

@media (max-width: 768px) {
  .portfolio_card-links-container,
  .portfolio_card-rechts-container {
    width: 520px;
    max-width: 520px;
  }

  .portfolio_card-links-img img,
  .portfolio_card-rechts-img img {
    max-width: 520px;
  }

  .portfolio_card-links-container {
      padding-left: 0px;
  }

  .portfolio_card-rechts-container {
    padding-right: 0px;
  }

  .portfolio_header__headline-mobile {
    font-size: 70px;
  }
  
  .portfolio_purple-shadow {
    left: -200px;
  }
}

@media (max-width: 600px) {
  .portfolio_header__headline-mobile {
    font-size: 60px;
  }

  .portfolio_content-container {
    gap: 48px;
  }

  .portfolio_card-links {
    width: 100%;
  }

  .portfolio_purple-shadow {
    left: -250px;
  }

  .portfolio_card-rechts-container,
  .portfolio_card-links-container {
    max-width: 90%;
  }

  .portfolio_card-links-container,
  .portfolio_card-rechts-container {
    width: 420px;
    max-width: 420px;
  }

  .portfolio_card-links-img img,
  .portfolio_card-rechts-img img {
    max-width: 420px;
  }

  .portfolio_head-content__variety-mobile {
    max-width: 70%;
    text-align: center;
  }
  
}

@media (max-width: 500px) {
  .portfolio_header__headline-mobile {
    font-size: 54px;
  }

  .portfolio_purple-shadow {
    left: -300px;
  }
}

@media (max-width: 450px) {
  .portfolio_header-content__line-left-mobile {
    left: 30px;
  }

  .portfolio_card-links-container,
  .portfolio_card-rechts-container {
    width: 360px;
    max-width: 360px;
  }

  .portfolio_card-links-container > div:last-child,
  .portfolio_card-rechts-container > div:last-child {
    gap: 50px;
  }
}

@media (max-width: 390px) {
  .portfolio_header__headline-mobile {
    font-size: 45px;
  }

  .portfolio_purple-shadow {
    left: 0;
    top: 0px;
    width: 390px;
    height: 515px;
    background: url(../../../assets/img/projects/projects_purple_shadow_mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    z-index: 0;
    scale: 1;
  }

  .portfolio_card-links-img img,
  .portfolio_card-rechts-img img {
    max-width: 342px;
  }
  .portfolio_card-links-container,
  .portfolio_card-rechts-container {
    width: 342px;
    max-width: 342px;
  }  
}

@media (max-width: 388px) {
  .portfolio_card-links-container,
  .portfolio_card-rechts-container {
    width: 300px;
    max-width: 300px;
  }  

  .portfolio_card-links-container,
  .portfolio_card-rechts-container {
    width: 300px;
    max-width: 300px;
  }

  .portfolio_card-links-img img,
  .portfolio_card-rechts-img img {
    max-width: 300px;
  }

  .portfolio_card-links-container > div:last-child,
  .portfolio_card-rechts-container > div:last-child {
    gap: 30px;
  }  
}

@media (max-width: 325px) {
  .portfolio_card-links-container,
  .portfolio_card-rechts-container {
    width: 280px;
    max-width: 280px;
  }  

  .portfolio_card-links-container,
  .portfolio_card-rechts-container {
    width: 280px;
    max-width: 280px;
  }

  .portfolio_card-links-img img,
  .portfolio_card-rechts-img img {
    max-width: 280px;
  }

  .portfolio_card-links-container > div:last-child,
  .portfolio_card-rechts-container > div:last-child {
    gap: 16px;
  }  

  .portfolio_purple-shadow {
    scale: 0.8;
  }
}