

<section class="portfolio">


    <header class="portfolio_header">

        <div class="portfolio_header__wrapper">
            <div class="portfolio_header__headlineContainer">
                <div class="portfolio_header-content__line-left"></div>
                <h2 class="portfolio_header__headline">{{ 'projects.headline' | translate }}</h2>
                <div class="portfolio_header-content__line-right"></div>
            </div>
            <div class="portfolio_head-content__variety">
              {{ 'projects.variety' | translate }}
            </div>
          </div>

    </header>

    <section class="portfolio_content-container">
        <section class="portfolio_card-links" 
                 data-aos="fade-left" 
                 data-aos-easing="ease-in-out-back" 
                 data-aos-offset="-100">
            <article class="portfolio_card-links-img">
                <img src="/assets/img/projects/projects_join.png" alt="">
            </article>
            <article class="portfolio_card-links-container">
                <div>Join</div>
                <div>Angular | Typescript | HTML |CSS | Firebase</div>
                <div>Task manager inspired by the KLabnab Sytem blablabla bla blabla bla...</div>
                <div>
                    <button class="portfolio_btn-live">Live test</button>
                    <button class="portfolio_btn-github">GitHub</button>
                </div>
            </article>
        </section>


        <section class="portfolio_card-rechts">
            <article class="portfolio_card-rechts-container">
                 <div>El Pollo Loco</div>
                 <div>JavaScript | HTML |CSS</div>
                 <div>A simple Jump-and-Run game based on an object-oriented blablabla bla blabla bla...</div>
                 <div>
                    <button class="portfolio_btn-live">Live test</button>
                    <button class="portfolio_btn-github">GitHub</button>
                 </div>
            </article>
            <article class="portfolio_card-rechts-img">
                <img src="/assets/img/projects/projects_el_pollo_loco.png" alt="">
            </article>
        </section>

        <section class="portfolio_card-links">

            <article class="portfolio_card-links-img">
                <img src="/assets/img/projects/projects_pokedex.png" alt="">
            </article>
            
            <article class="portfolio_card-links-container">
                <div>Pokedex</div>
                <div>JavaScript | HTML |CSS | API</div>
                <div>Based on the PokeAPI a simple library that provides and catalogues blablabla bla blabla bla...</div>
                <div>
                    <button class="portfolio_btn-live">Live test</button>
                    <button class="portfolio_btn-github">GitHub</button>
                </div>
            </article>

        </section>

    </section>

    <div class="portfolio_purple-shadow"></div>

</section>