@use '../../../styles/_variables' as *;

.portfolio {
  max-width: 1440px;
  margin: 0 auto;
  padding: 88px 0px 140px 0px;
  background: $color-bg;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.portfolio_header {
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.portfolio_header-mobile {
  margin-bottom: 48px;
  display: none;
}

.portfolio_header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 95%;
}

.portfolio_header__headlineContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.portfolio_header-content__line-left,
.portfolio_header-content__line-right {
  content: '';
  display: block;
  height: 4px;
  width: 100px;
  background: $color-primary;
  border-radius: 2px;
  margin: 0 20px;
}

.portfolio_header-content__line-left {
    margin-left: 0px;
}

.portfolio_header-content__line-right {
    width: 507px;
    margin-right: 0px;
}

.portfolio_header__headline {
  font-size: 90px;
  font-weight: 700;
  color: $color-text_primary;
  line-height: 1.2;
  letter-spacing: 0.75px;
  margin: 0;
}

.portfolio_head-content__variety {
  margin-top: 18px;
  color: $color-text_primary;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.portfolio_header_mobile {
  display: none;
}


.portfolio_content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  position: relative;
  max-width: 100%;
}

.portfolio_card-links,
.portfolio_card-rechts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  margin-bottom: 0;
  max-width: 100%;
  z-index: 2;
}

.portfolio_card-rechts {
  flex-direction: row;
  justify-content: flex-end;
}

.portfolio_card-links-img,
.portfolio_card-rechts-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio_card-links-container,
.portfolio_card-rechts-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  width: 520px;
  max-width: 520px;
  padding-top: 40px;
}


.portfolio_card-links-img img,
.portfolio_card-rechts-img img {
  max-width: 520px;
  height: auto;
  object-fit: cover;
  z-index: 10;
}

.portfolio_card-links-container {
    padding-left: 60px;
}


.portfolio_card-rechts-container {
    text-align: end;
    align-items: flex-end;
    padding-right: 60px;
}


.portfolio_card-links-container > div:first-child,
.portfolio_card-rechts-container > div:first-child {
  font-size: 32px;
  font-weight: 700;
  color: $color-text_purple;
  line-height: 120%;
  margin-bottom: 4px;
}

.portfolio_card-links-container > div:nth-child(2),
.portfolio_card-rechts-container > div:nth-child(2) {
  font-size: 23px;
  font-weight: 400;
  color: $color-text_green;
  line-height: 120%;
  margin-bottom: 4px;
}

.portfolio_card-links-container > div:nth-child(3),
.portfolio_card-rechts-container > div:nth-child(3) {
  font-size: 16px;
  font-weight: 400;
  color: $color-text_primary;
  line-height: 120%;
  margin-bottom: 16px;
}


.portfolio_card-links-container > div:last-child,
.portfolio_card-rechts-container > div:last-child {
  display: flex;
  gap: 86px;
}


.portfolio_btn-live {
    width: 152px;
    height: 58px;
}

.portfolio_btn-github {
    width: 137px;
    height: 58px;
}

.portfolio_btn-live,
.portfolio_btn-github {
  font-size: 23px;
  font-weight: 400;
  line-height: 120%;
  border: none;
  outline: none;
  padding: 15px 30px;
  border-radius: 10px;
  transition: all 0.125s ease-in-out;
  cursor: pointer;
  margin-top: 0;
}

.portfolio_btn-live {
  background: $color-secondary;
  color: $color-text_primary;
  border: none;
}

.portfolio_btn-github {
  background: transparent;
  color: $color-text_primary;
  border: 2px solid $color-primary;
  transition: border 0.125s, color 0.125s ease-in-out;
}

.portfolio_btn-github:hover {
  transition: all 0.125s ease-in-out;
  background: $color-primary;
  border-color: $color-primary;
}

.portfolio_btn-live:hover {
  transition: all 0.125s ease-in-out;
  background: $color-primary;
}


.portfolio_purple-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 318px;
  height: 520px;
  background: url(../../../assets/img/projects/projects_purple_shadow.png);
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  z-index: 0;
}



@media (max-width: 1200px) {
  .portfolio_purple-shadow {
    bottom: -14px;
  }

  .portfolio_content-container {
    padding-left: $container-pad-l-r;
    padding-right: $container-pad-l-r;
  }

  .portfolio_card-links-container > div:last-child,
  .portfolio_card-rechts-container > div:last-child {
    gap: 60px;
  }

  .portfolio_card-links,
  .portfolio_card-rechts {
    gap: 0px;
  }
}



@media (max-width: 1024px) {

  .portfolio_header__wrapper {
    max-width: 90%;
  }


  .portfolio_card-links-img img,
  .portfolio_card-rechts-img img {
    max-width: 420px;
  }

  .portfolio_card-links-container {
      padding-left: 50px;
      max-width: 420px;
  }


  .portfolio_card-rechts-container {
      padding-right: 50px;
      max-width: 420px;
  }
}




@media (max-width: 950px) {

  .portfolio_head-content__variety-mobile {
    padding-top: 32px;
  }

  .portfolio_header {
    display: none;
  }

  .portfolio_card-links,
  .portfolio_card-rechts {
    flex-direction: column;
  }

  .portfolio_card-links-container,
  .portfolio_card-rechts-container {
    align-items: center;
    text-align: center;
    padding-top: 35px;
  }

  .portfolio_card-rechts {
    align-items: center;
    flex-direction: column-reverse;
  }


  .portfolio_header-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .portfolio_header__wrapper-mobile {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .portfolio_head-content__wrapper-mobile {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .portfolio_header-mobile-left {
    position: relative;
    content: '';
    width: 100%;
  }

  .portfolio_header-content__line-left-mobile {
    content: '';
    position: absolute;
    height: 4px;
    right: 0;
    left: 62px;
    background: $color-primary;
    border-radius: 2px;
  }

  .portfolio_header-mobile-center {
    padding: 0 16px;
  }

  .portfolio_header__headline-mobile {
    font-size: 90px;
    font-weight: 700;
    color: $color-text_primary;
    line-height: 1.2;
    letter-spacing: 0.75px;
    margin: 0;
  }

  .portfolio_header-content__line-right-mobile {
    content: '';
    display: block;
    height: 4px;
    width: 100px;
    background: $color-primary;
    border-radius: 2px;
    width: 100%;
  }

  .portfolio_header-mobile-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .portfolio_purple-shadow {
    bottom: 75px;
  }



  .portfolio_card-links-container,
  .portfolio_card-rechts-container {
    width: 620px;
    max-width: 620px;
  }


  .portfolio_card-links-img img,
  .portfolio_card-rechts-img img {
    max-width: 620px;
  }

  .portfolio_card-links-container {
      padding-left: 0px;
  }


  .portfolio_card-rechts-container {
      padding-right: 0px;
  }

  .portfolio_purple-shadow {
    bottom: 190px;
    width: 261px;
    height: 446px;
  }
}



@media (max-width: 768px) {
  .portfolio_card-links-container,
  .portfolio_card-rechts-container {
    width: 520px;
    max-width: 520px;
  }


  .portfolio_card-links-img img,
  .portfolio_card-rechts-img img {
    max-width: 520px;
  }

  .portfolio_card-links-container {
      padding-left: 0px;
  }


  .portfolio_card-rechts-container {
    padding-right: 0px;
  }

  .portfolio_header__headline-mobile {
    font-size: 70px;
  }
  
  .portfolio_purple-shadow {
    bottom: 334px;
  }
}



@media (max-width: 600px) {
  .portfolio_header__headline-mobile {
    font-size: 60px;
  }

  .portfolio_content-container {
    gap: 48px;
  }

  .portfolio_card-links {
    width: 100%;
  }

  .portfolio_purple-shadow {
    width: 213px;
    height: 388px;
  }

  .portfolio_card-rechts-container,
  .portfolio_card-links-container {
    max-width: 90%;
  }

  .portfolio_card-links-container,
  .portfolio_card-rechts-container {
    width: 420px;
    max-width: 420px;
  }


  .portfolio_card-links-img img,
  .portfolio_card-rechts-img img {
    max-width: 420px;
  }

  .portfolio_head-content__variety-mobile {
    max-width: 70%;
    text-align: center;
  }
  
}


@media (max-width: 500px) {
  .portfolio_header__headline-mobile {
    font-size: 54px;
  }

  .portfolio_purple-shadow {
    scale: 0.8;
    left: -24px;
  }
}


@media (max-width: 450px) {
  .portfolio_header-content__line-left-mobile {
    left: 30px;
  }

  .portfolio_card-links-container,
  .portfolio_card-rechts-container {
    width: 360px;
    max-width: 360px;
  }

  .portfolio_card-links-container > div:last-child,
  .portfolio_card-rechts-container > div:last-child {
    gap: 50px;
  }

  .portfolio_purple-shadow {
    bottom: 267px;
  }
}


@media (max-width: 390px) {
  
  .portfolio_header__headline-mobile {
    font-size: 45px;
  }

  .portfolio_purple-shadow {
    left: 0;
    bottom: 324px;
    width: 390px;
    height: 515px;
    background: url(../../../assets/img/projects/projects_purple_shadow_mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    z-index: 0;
    scale: 1;
  }

  .portfolio_card-links-img img,
  .portfolio_card-rechts-img img {
    max-width: 342px;
  }
  .portfolio_card-links-container,
  .portfolio_card-rechts-container {
    width: 342px;
    max-width: 342px;
  }  
}

@media (max-width: 388px) {
  .portfolio_card-links-container,
  .portfolio_card-rechts-container {
    width: 300px;
    max-width: 300px;
  }  

  .portfolio_card-links-container,
  .portfolio_card-rechts-container {
    width: 300px;
    max-width: 300px;
  }


  .portfolio_card-links-img img,
  .portfolio_card-rechts-img img {
    max-width: 300px;
  }

  .portfolio_card-links-container > div:last-child,
  .portfolio_card-rechts-container > div:last-child {
    gap: 30px;
  }  
}

@media (max-width: 325px) {
  .portfolio_card-links-container,
  .portfolio_card-rechts-container {
    width: 280px;
    max-width: 280px;
  }  

  .portfolio_card-links-container,
  .portfolio_card-rechts-container {
    width: 280px;
    max-width: 280px;
  }


  .portfolio_card-links-img img,
  .portfolio_card-rechts-img img {
    max-width: 280px;
  }

  .portfolio_card-links-container > div:last-child,
  .portfolio_card-rechts-container > div:last-child {
    gap: 16px;
  }  

  .portfolio_purple-shadow {
    scale: 0.8;
  }
}

