@use '../../../styles/_variables' as *;

.portfolio {
  max-width: 1440px;
  margin: 0 auto;
  padding: 88px 0px 50px 0px;
  background: $color-bg;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.portfolio_header {
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.portfolio_header-mobile {
  margin-bottom: 48px;
  display: none;
}

.portfolio_header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 93%;
}

.portfolio_header__headlineContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  opacity: 0;
  transform: rotateX(60deg) scale(0.96) translateX(400px);}

.portfolio_header__headlineContainer.is-inview {
  animation: flipInYFromRight 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  animation-delay: 0.1s;
}

@keyframes flipInYFromRight {
  from {
    transform: rotateX(60deg) scale(0.96) translateX(400px);
    opacity: 0;
  }
  70% {
    transform: rotateX(-5deg) scale(1.04) translateX(-10px);
    opacity: 1;
  }
  to {
    transform: rotateX(0) scale(1.0) translateX(0);
    opacity: 1;
  }
}

.portfolio_header-content__line-left,
.portfolio_header-content__line-right {
  content: '';
  display: block;
  height: 4px;
  width: 100px;
  background: $color-primary;
  border-radius: 2px;
  margin: 0 20px;
}

.portfolio_header-content__line-left {
    margin-left: 0px;
}

.portfolio_header-content__line-right {
    width: 507px;
    margin-right: 0px;
}

.portfolio_header__headline {
  font-size: 90px;
  font-weight: 700;
  color: $color-text_primary;
  line-height: 1.2;
  letter-spacing: 0.75px;
  margin: 0;
}

.portfolio_head-content__variety {
  margin-top: 18px;
  color: $color-text_primary;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  opacity: 0;
  transform: rotateX(60deg) scale(0.96) translateY(-150px);  
}

.portfolio_head-content__variety.is-inview {
  animation: flipInY 0.4s linear forwards;
  animation-delay: 0.1s;
}

@keyframes flipInY {
  from {
    transform: rotateX(60deg) scale(0.96) translateY(-150px);
    opacity: 0;
  }
  40% {
    transform: rotateX(25deg) scale(0.98) translateY(-50px);
    opacity: 0.25;
  }
  70% {
    transform: rotateX(-5deg) scale(1.02) translateY(3px);
    opacity: 1;
  }
  to {
    transform: rotateX(0) scale(1.0) translateY(0px);
    opacity: 1;
  }
}

.portfolio_header_mobile {
  display: none;
}

.portfolio_content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  position: relative;
  max-width: 100%;
}

.portfolio_card-links,
.portfolio_card-rechts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  margin-bottom: 0;
  max-width: 100%;
  z-index: 2;
  opacity: 0;
}

.portfolio_card-links {
  transform: scale(1.5) translateX(200px);
}

.portfolio_card-rechts {
  transform: scale(1.5) translateX(-200px);
}

.portfolio_card-links.is-inview {
  animation: zoomInLinks 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  animation-delay: 0.1s;
}

.portfolio_card-rechts.is-inview {
  animation: zoomInRechts 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  animation-delay: 0.1s;
}

@keyframes zoomInLinks {
  from {
    transform: scale(1.5) translateX(200px);
    opacity: 0;
  }
  70% {
    transform: scale(0.96) translateX(-2px);
    opacity: 1;
  }
  to {
    transform: scale(1.0) translateX(0px);
    opacity: 1;
  }
}

@keyframes zoomInRechts {
  from {
    transform: scale(1.5) translateX(-200px);
    opacity: 0;
  }
  70% {
    transform: scale(0.96) translateX(2px);
    opacity: 1;
  }
  to {
    transform: scale(1.0) translateX(0px);
    opacity: 1;
  }
}

.portfolio_card-rechts {
  flex-direction: row;
  justify-content: flex-end;
}

.portfolio_card-links-img,
.portfolio_card-rechts-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio_card-links-container,
.portfolio_card-rechts-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  width: 520px;
  max-width: 520px;
  padding-top: 40px;
}

.portfolio_card-links-img img,
.portfolio_card-rechts-img img {
  max-width: 520px;
  height: auto;
  object-fit: cover;
  z-index: 10;
}

.portfolio_card-links-container {
    padding-left: 60px;
}

.portfolio_card-rechts-container {
    text-align: end;
    align-items: flex-end;
    padding-right: 60px;
}

.portfolio_card-links-container > div:first-child,
.portfolio_card-rechts-container > div:first-child {
  font-size: 32px;
  font-weight: 700;
  color: $color-text_purple;
  line-height: 120%;
  margin-bottom: 4px;
}

.portfolio_card-links-container > div:nth-child(2),
.portfolio_card-rechts-container > div:nth-child(2) {
  font-size: 23px;
  font-weight: 400;
  color: $color-text_green;
  line-height: 120%;
  margin-bottom: 4px;
}

.portfolio_card-links-container > div:nth-child(3),
.portfolio_card-rechts-container > div:nth-child(3) {
  font-size: 16px;
  font-weight: 400;
  color: $color-text_primary;
  line-height: 120%;
  margin-bottom: 16px;
}

.portfolio_card-links-container > div:last-child,
.portfolio_card-rechts-container > div:last-child {
  display: flex;
  gap: 86px;
}

.portfolio_btn-live {
    width: 152px;
    height: 58px;
}

.portfolio_btn-github {
    width: 137px;
    height: 58px;
}

.portfolio_btn-live,
.portfolio_btn-github {
  font-size: 23px;
  font-weight: 400;
  line-height: 120%;
  padding: 15px 30px;
  border-radius: 10px;
  transition: all 0.125s ease-in-out;
  cursor: pointer;
  margin-top: 0;
}

.portfolio_btn-live {
  background: $color-secondary;
  color: $color-text_primary;
  border: none;
}

.portfolio_btn-github {
  background: transparent;
  color: $color-text_primary;
  border: 2px solid $color-primary;
  transition: border 0.125s, color 0.125s ease-in-out;
}

.portfolio_btn-github:hover {
  transition: all 0.125s ease-in-out;
  background: $color-primary-wcag;
  border-color: $color-primary-wcag;
}

.portfolio_btn-live:hover {
  transition: all 0.125s ease-in-out;
  background: $color-primary-wcag;
}

.portfolio_purple-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 318px;
  height: 520px;
  background: url(/assets/img/projects/projects_purple_shadow.png);
  background: url(/angular-projects/portfolio/assets/img/projects/projects_purple_shadow.png);
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  z-index: 0;
}

.portfolio_header__wrapper-mobile {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: rotateX(80deg) scale(0.96) translateX(100px);
}

.portfolio_header__wrapper-mobile.is-inview {
  animation: flipInXMobile 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.portfolio_head-content__wrapper-mobile {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: rotateX(80deg) scale(0.96) translateX(-150px);
}

.portfolio_head-content__wrapper-mobile.is-inview {
  animation: flipInYMobile  0.4s linear forwards;
  animation-delay: 0.1s;
}

@keyframes flipInXMobile {
  from {
    transform: rotateX(80deg) scale(0.96) translateX(100px);
    opacity: 0;
  }
  70% {
    transform: rotateX(-5deg) scale(1.04) translateX(-10px);
    opacity: 1;
  }
  to {
    transform: rotateX(0) scale(1.0) translateX(0);
    opacity: 1;
  }
}

@keyframes flipInYMobile {
  from {
    transform: rotateX(60deg) scale(0.96) translateY(-150px);
    opacity: 0;
  }
  40% {
    transform: rotateX(25deg) scale(0.98) translateY(-50px);
    opacity: 0.25;
  }
  70% {
    transform: rotateX(-5deg) scale(1.02) translateY(3px);
    opacity: 1;
  }
  to {
    transform: rotateX(0) scale(1.0) translateY(0px);
    opacity: 1;
  }
}

// Import mobile Media Queries
@import './projects-queries.component.scss';