@use '../../../styles/_variables' as *;

.privacy-policy {
  margin-top: 168px;
  position: relative;
  width: 100%;
}

.privacy-policy_header {
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 100px;
}

.privacy-policy_header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.privacy-policy_header__headlineContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.privacy-policy_header-content__line-left,
.privacy-policy_header-content__line-right {
  content: '';
  display: block;
  height: 4px;
  background: $color-secondary;
  border-radius: $radius-sm;
  border-radius: 2px;
  margin: 0 20px;
}

.privacy-policy_header-content__line-left {
    margin-left: 0px;
    flex: 0 1 60px;
    min-width: 20px;
    transition: flex-basis 0.3s;
}

.privacy-policy_header-content__line-right {
    margin-right: 0px;
    flex: 1 1 100%;
    min-width: 20px;
    transition: flex-basis 0.3s;
    max-width: 30vw;
}

.privacy-policy_header__headline {
  font-size: 51px;
  font-weight: 700;
  color: $color-primary;
  line-height: 1.2;
  letter-spacing: 0;
  margin: 0;
  white-space: nowrap;
  flex: 0 0 auto;
}

.privacy-policy_head-content__variety {
  margin-top: 18px;
  color: $color-text_primary;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.privacy-policy_content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
    padding: 0 0 100px 0;
}

.privacy-policy_sections {
  margin-top: 48px;
}

.privacy-policy_headline {
    font-size: 33px;
    line-height: 120%;
    font-weight: 700;
    color: $color-secondary;
    padding-bottom: 24px;
}

.privacy-policy_adress {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 24px;
}

.privacy-policy_contact,
.privacy-policy_respo {
    padding-bottom: 16px;
}

.privacy-policy_article {
    position: relative;
    padding-bottom: 32px;
}

.privacy-policy_article h2 {
    color: $color-text_purple;   
    font-size: 33px;
    font-weight: 700;
    line-height: 120%;
    padding-bottom: 16px;
}

.privacy-policy_article h3 {
    color: $color-text_purple;   
    font-size: 23px;
    font-weight: 700;
    line-height: 120%;
    padding-bottom: 8px;
}

.privacy-paragraph {
    color: $color-text;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    padding-bottom: 24px;
}

.privacy-policy_mobile-nav-container {
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: $container-pad-l-r;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
}

.privacy-policy_mobile-nav-go_back {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $color-secondary;
  border-radius: 50%;
  z-index: 10;
  color: $color-text_purple;
  width: 41px;
  height: 41px;
  transition: all 0.125s ease-in-out;

    &:hover {
        border: 2px solid $color-primary;

        .privacy-policy_mobile-nav-go_back-arrow {
          color: $color-primary;
          transition: all 0.125s ease-in-out;
        }
    }
}

.privacy-policy_mobile-nav-go_back-arrow {
  color: $color-text_purple;
  display: flex;
  justify-content: center;
  align-items: center;
}

.privacy-policy_mobile-nav-go_back-arrow:focus-visible {
  outline: 3px solid $color-primary;
  outline-offset: 2px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba($color-primary, 0.1);
  transition: outline 0.1s;
}

.headline--de { max-width: 585px; }
.headline--en { max-width: 360px; }

.headline_line--de { max-width: 30vw;}
.headline_line--en { max-width: 40vw;}

@media (max-width: 1250px) {
  .privacy-policy_header__headline {
    font-size: 40px;
  }
}

@media (max-width: 1200px) {
  .privacy-policy_content {
    padding: 0px $container-pad-l-r 100px $container-pad-l-r;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    max-width: 100%;
  }

}

@media (max-width: 1250px) {
  .privacy-policy_header-content__line-left {
    min-width: 30px;
    max-width: 9vw;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .privacy-policy_header {
    padding-left: 7vw;
  }

  .privacy-policy_header-content__line-right {
    width: 26vw;
  }
}

@media (max-width: 950px) {
  .privacy-policy_header-content__line-left {
    display: none;
  }
  .privacy-policy_header__headline {
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .privacy-policy_header__headline {
    font-size: 36px;
  }

  .privacy-policy {
    margin-top: 117px;
  }

  .privacy-policy_mobile-nav-container {
    display: flex;
  }
}

@media (max-width: 655px) {
  .privacy-policy_header__headline {
    font-weight: 400;
  }
}

@media (max-width: 600px) {
  .privacy-policy_header__headline {
    font-size: 24px;
    min-width: 0;
  }

  .privacy-policy_article h2 {
    font-size: 20px;
  }

  .privacy-policy_article h3 {
    font-size: 18px;
  }
}

@media (max-width: 430px) {
  .privacy-policy_header-content__line-right {
    width: 20vw;
  }

}

@media (max-width: 389px) {
  .privacy-policy_header-content__line-right {
    width: 30vw;
    margin-left: 8px;
  }

}