<section id="privacy-top" class="privacy-policy">

    <nav class="privacy-policy_mobile-nav-container">
        <div class="privacy-policy_mobile-nav-go_back">
            <div (click)="onClose()" class="privacy-policy_mobile-nav-go_back-arrow" aria-label="Contact - go Back">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.828 9.02556L8.485 13.6826C8.87546 14.073 8.87546 14.7061 8.485 15.0966C8.09453 15.487 7.46146 15.487 7.071 15.0966L0.707106 8.73266C0.316581 8.34214 0.316582 7.70897 0.707106 7.31845L7.071 0.954558C7.46147 0.564092 8.09453 0.564092 8.485 0.954558C8.87547 1.34502 8.87547 1.97809 8.485 2.36856L3.828 7.02556L15 7.02556C15.5523 7.02556 16 7.47327 16 8.02556C16 8.57784 15.5523 9.02556 15 9.02556L3.828 9.02556Z" fill="currentColor"/>
                </svg>
            </div>
        </div>
     </nav>

    <header class="privacy-policy_header">
        <div class="privacy-policy_header__wrapper">
            <div class="privacy-policy_header__headlineContainer">
            <div class="privacy-policy_header-content__line-left"></div>
            <h2 [ngClass]="currentLang === 'de' ? 'headline--de' : 'headline--en'" class="privacy-policy_header__headline">{{ 'privacy_policy.title' | translate }}</h2>
            <div [ngClass]="currentLang === 'de' ? 'headline_line--de' : 'headline_line--en'" class="privacy-policy_header-content__line-right"></div>
            </div>
        </div>
    </header>


    <section class="privacy-policy_content">

        <section class="privacy-policy_sections">

            <div class="privacy-policy_article">
                <h2>{{ 'privacy_policy.section1.headline' | translate }}</h2>

                <h3>{{ 'privacy_policy.section1.subheadline1' | translate }}</h3>
                <div class="privacy-paragraph">{{ 'privacy_policy.section1.paragraph1-1' | translate }} </div>

                <div class="privacy-policy-block">
                    <div class="privacy-policy-block_headline">{{ 'privacy_policy.block_headline' | translate }}</div>
                    <div class="privacy-policy_adress">
                    {{ 'privacy_policy.address.name' | translate }}<br>
                    {{ 'privacy_policy.address.careof' | translate }}<br>
                    {{ 'privacy_policy.address.street' | translate }}<br>
                    {{ 'privacy_policy.address.zipcity' | translate }}<br>
                    <span [innerHTML]="'privacy_policy.address.email' | translate"></span>
                    </div>
                </div>

                <h3>{{ 'privacy_policy.section1.subheadline2' | translate }}</h3>
                <div class="privacy-paragraph">{{ 'privacy_policy.section1.paragraph2-1' | translate }} </div>

                <h3>{{ 'privacy_policy.section1.subheadline3' | translate }}</h3>
                <div class="privacy-paragraph">{{ 'privacy_policy.section1.paragraph3-1' | translate }} </div>
                <div class="privacy-paragraph">{{ 'privacy_policy.section1.paragraph3-2' | translate }} </div>

                <h3>{{ 'privacy_policy.section1.subheadline4' | translate }}</h3>
                <div class="privacy-paragraph">{{ 'privacy_policy.section1.paragraph4-1' | translate }} </div>

                <h3>{{ 'privacy_policy.section1.subheadline5' | translate }}</h3>
                <div class="privacy-paragraph">{{ 'privacy_policy.section1.paragraph5-1' | translate }} </div>
                <div class="privacy-paragraph">{{ 'privacy_policy.section1.paragraph5-2' | translate }} </div>

            </div>


            <div class="privacy-policy_article">
                <h2>{{ 'privacy_policy.section2.headline' | translate }}</h2>

                <h3>{{ 'privacy_policy.section2.subheadline1' | translate }}</h3>
                <div class="privacy-paragraph">{{ 'privacy_policy.section2.paragraph1-1' | translate }} </div>
                <div class="privacy-paragraph">{{ 'privacy_policy.section2.paragraph1-2' | translate }} </div>

            </div>


            <div class="privacy-policy_article">
                <h2>{{ 'privacy_policy.section3.headline' | translate }}</h2>

                <h3>{{ 'privacy_policy.section3.subheadline1' | translate }}</h3>
                <div class="privacy-paragraph">{{ 'privacy_policy.section3.paragraph1-1' | translate }} </div>
                <div class="privacy-paragraph">{{ 'privacy_policy.section3.paragraph1-2' | translate }} </div>
                <div class="privacy-paragraph">{{ 'privacy_policy.section3.paragraph1-3' | translate }} </div>
                <div class="privacy-paragraph">{{ 'privacy_policy.section3.paragraph1-4' | translate }} </div>

                <h3>{{ 'privacy_policy.section3.subheadline2' | translate }}</h3>
                <div class="privacy-paragraph">{{ 'privacy_policy.section3.paragraph2-1' | translate }} </div>

                <h3>{{ 'privacy_policy.section3.subheadline3' | translate }}</h3>
                <div class="privacy-paragraph">{{ 'privacy_policy.section3.paragraph3-1' | translate }} </div>

                <h3>{{ 'privacy_policy.section3.subheadline4' | translate }}</h3>
                <div class="privacy-paragraph">{{ 'privacy_policy.section3.paragraph4-1' | translate }} </div>

                <h3>{{ 'privacy_policy.section3.subheadline5' | translate }}</h3>
                <div class="privacy-paragraph">{{ 'privacy_policy.section3.paragraph5-1' | translate }} </div>
                <div class="privacy-paragraph">{{ 'privacy_policy.section3.paragraph5-2' | translate }} </div>

                <h3>{{ 'privacy_policy.section3.subheadline6' | translate }}</h3>
                <div class="privacy-paragraph">{{ 'privacy_policy.section3.paragraph6-1' | translate }} </div>

                <h3>{{ 'privacy_policy.section3.subheadline7' | translate }}</h3>
                <div class="privacy-paragraph">{{ 'privacy_policy.section3.paragraph7-1' | translate }} </div>

                <h3>{{ 'privacy_policy.section3.subheadline8' | translate }}</h3>
                <div class="privacy-paragraph">{{ 'privacy_policy.section3.paragraph8-1' | translate }} </div>

                <h3>{{ 'privacy_policy.section3.subheadline9' | translate }}</h3>
                <div class="privacy-paragraph">{{ 'privacy_policy.section3.paragraph9-1' | translate }} </div>
                <div class="privacy-paragraph">{{ 'privacy_policy.section3.paragraph9-2' | translate }} </div>
                <div class="privacy-paragraph">{{ 'privacy_policy.section3.paragraph9-3' | translate }} </div>
                <div class="privacy-paragraph">{{ 'privacy_policy.section3.paragraph9-4' | translate }} </div>
                <div class="privacy-paragraph">{{ 'privacy_policy.section3.paragraph9-5' | translate }} </div>
                <div class="privacy-paragraph">{{ 'privacy_policy.section3.paragraph9-6' | translate }} </div>

                <h3>{{ 'privacy_policy.section3.subheadline10' | translate }}</h3>
                <div class="privacy-paragraph">{{ 'privacy_policy.section3.paragraph10-1' | translate }} </div>
                <div class="privacy-paragraph">{{ 'privacy_policy.section3.paragraph10-2' | translate }} </div>

            </div>

            

            <div class="privacy-policy_article">

                <h2>{{ 'privacy_policy.section4.headline' | translate }}</h2>

                <h3>{{ 'privacy_policy.section4.subheadline1' | translate }}</h3>
                <div class="privacy-paragraph">{{ 'privacy_policy.section4.paragraph1-1' | translate }} </div>
                <div class="privacy-paragraph">{{ 'privacy_policy.section4.paragraph1-2' | translate }} </div>
                <div class="privacy-paragraph">{{ 'privacy_policy.section4.paragraph1-3' | translate }} </div>

                <h3>{{ 'privacy_policy.section4.subheadline2' | translate }}</h3>
                <div class="privacy-paragraph">{{ 'privacy_policy.section4.paragraph2-1' | translate }} </div>
                <div class="privacy-paragraph">{{ 'privacy_policy.section4.paragraph2-2' | translate }} </div>
                <div class="privacy-paragraph">{{ 'privacy_policy.section4.paragraph2-3' | translate }} </div>
                <div class="privacy-paragraph">{{ 'privacy_policy.section4.paragraph2-4' | translate }} </div>
            </div>

        </section>
    </section>


</section>