<!-- <section class="about-me container">
  <div class="about-me__content">
    <div class="about-me__img-wrapper">
      <img src="assets/img/about_me/about_me_purple_shadow.png" class="about-me__blob about-me__blob--left">
      <img src="assets/img/hero/hero_dummy_969x1058.png" class="about-me__photo">
      <img src="assets/img/about_me/about_me_green_shadow.png" class="about-me__blob about-me__blob--right">
    </div>
    <div class="about-me__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet veniam iure placeat nesciunt esse quis dolore nostrum accusantium, deleniti ab unde, at officia doloremque quam adipisci magni beatae eos facilis?
    </div>
  </div>

  <div class="about-me__curve"></div>
</section>
 -->
