@use '../../../styles/_variables' as *;

.about-me {
  width: 100vw;
  position: relative;
  background: $color-bg;
  overflow: hidden;
}

.about-me__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  min-height: 880px;
  margin-top: 50px;
}

.about-me__bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url('/assets/img/about_me/about_me_hero_blobs_curved.png');
  background-size: cover;
  background-position: right top;
  pointer-events: none;
}

.about-me__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 620px;
  width: 100%;
  background: transparent;
  z-index: 2;
  position: relative;
  padding: 0px 32px 32px 100px; 
  color: $color-text_primary;

}

.about-me__text {
  max-width: 500px;
  width: 100%;
  text-overflow: ellipsis;
}


.about-me__headline {
  font-size: 90px;
  line-height: 1.2;
  font-weight: 700;
  color: $color-text_primary;
  margin-bottom: 32px;
}

.about-me__description {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: $color-text_primary;
  margin-bottom: 40px;
}

.about-me__info-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.about-me__info-row {
  display: flex;
  align-items: flex-start;
  gap: 18px;
}

.about-me__icon img {
  width: 32px;
  height: auto;
  min-width: 22px;
}

.about-me__info-text {
  font-size: 16px;
  color: $color-text_primary;
  font-weight: 400;
  line-height: 1.2;
}

.about-me__content,
.about-me__content h1,
.about-me__content h2 {
  text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}




@media (max-width: $breakpoint-lg) {
  .about-me__bg {
    background-position: right top;
    background-image: url('/assets/img/about_me/about_me_hero_blobs_curved_1024.png');
  }

  .about-me__content {
    padding: 0;
    padding-left: $container-pad-l-r;
  }  

}


@media (max-width: $breakpoint-norm) {

  .about-me__content {
    max-width: 520px;
  }  

  .about-me__headline {
    font-size: 64px;
  }

}

@media (max-width: 950px) {
  
    .about-me__content {
      margin-top: 75vw;
      max-width: 100%;
      padding: 0 $container-pad-l-r;
    }

    .about-me__headline {
      font-size: 54px;
      margin-bottom: 24px;
    }

    .about-me__description {
      font-size: 15px;
      margin-bottom: 24px;
    }

    .about-me__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 880px;
      margin-top: -75px;
    }

    .about-me__bg {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 820px;
      height: 100vw;
      z-index: 1;
      background-position: center bottom; 
      background-image: url('/assets/img/about_me/about_me_hero_blobs_curved_mobile.png');
    }

    .about-me__content {
      margin-left: 0;
      align-items: center;
    }

    .about-me__wrapper {
      align-items: flex-start;
    }
   
    .about-me__text {
      width: 100%;
      max-width: 80%;
    }
}


@media (max-width: 650px) {
  .about-me__content {
   padding: 20px $container-pad-l-r 32px $container-pad-l-r;
  }

  .about-me__text {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .about-me__text {
    max-width: 100%;
  }

  .about-me__wrapper {
    margin-top: -60px;
  }
}

@media (max-width: 500px) {
  .about-me__text {
      max-width: 380px;
  }
}

@media (max-width: 450px) {
  .about-me__content {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .about-me__info-text {
    font-size: 14px;
    color: $color-text_primary;
    font-weight: 400;
    line-height: 1.4;
  }

  .about-me__headline {
    font-size: 48px;
  }

}

@media (max-width: 425px) {

  .about-me__text {
      max-width: 340px;
  }
}

@media (max-width: 390px) {
  .about-me__text {
      max-width: 320px;
  }

  .about-me__wrapper {
    margin-top: -40px;
  }
}

@media (max-width: 375px) {
  .about-me__text {
        max-width: 290px;
  }
}

@media (max-width: 320px) {
  .about-me__text {
    width: 280px;
  }
}