@use '../../../styles/_variables' as *;

.about-me {
  width: 100vw;
  position: relative;
  background: $color-bg;
  overflow: hidden;
}

.about-me__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  min-height: 880px;
  margin-top: 50px;
}

.about-me__bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url('/assets/img/about_me/about_me_hero_blobs_curved.png');
  // background-image: url('/angular-projects/portfolio/assets/img/about_me/about_me_hero_blobs_curved.png');
  background-size: cover;
  background-position: right top;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.98);
  transition: opacity 1s linear, transform 1s linear;
}

.about-me__bg.is-inview {
  opacity: 1;
  transform: scale(1);
}

.about-me__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 620px;
  width: 100%;
  background: transparent;
  z-index: 2;
  position: relative;
  padding: 0px 32px 32px 100px; 
  color: $color-text_primary;
}

.about-me__text {
  max-width: 500px;
  width: 100%;
  text-overflow: ellipsis;
}

.about-me__headline {
  font-size: 90px;
  line-height: 1.2;
  font-weight: 700;
  color: $color-text_primary;
  margin-bottom: 32px;
}

.about-me__description {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: $color-text_primary;
  margin-bottom: 40px;
}

.about-me__headline,
.about-me__description {
  opacity: 0;
  transform: perspective(800px) rotateX(60deg) scale(0.96);
}

.about-me__info-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.about-me__headline.is-inview,
.about-me__description.is-inview {
  animation: flipInY 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.about-me__headline.is-inview {
  animation-delay: 0.1s;
}
.about-me__description.is-inview {
  animation-delay: 0.2s;
}

@keyframes flipInY {
  from {
    transform: perspective(800px) rotateX(60deg) scale(0.96);
    opacity: 0;
  }
  70% {
    transform: perspective(800px) rotateX(-5deg) scale(1.04);
    opacity: 1;
  }
  to {
    transform: perspective(800px) rotateX(0) scale(1.0);
    opacity: 1;
  }
}

.about-me__info-row {
  display: flex;
  align-items: flex-start;
  gap: 18px;
  opacity: 0;
  transform: perspective(700px) rotateX(80deg) scale(0.98);
  transition: opacity 0.2s;  
}

.about-me__info-row.is-inview {
  animation: flipInY_text 0.4s linear forwards;
  animation-delay: 0.2s;
}

.about-me__icon img {
  width: 32px;
  height: auto;
  min-width: 22px;
}

.about-me__info-text {
  font-size: 16px;
  color: $color-text_primary;
  font-weight: 400;
  line-height: 1.2;
}

.about-me__content,
.about-me__content h1,
.about-me__content h2 {
  text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

@keyframes flipInY_text {
  from {
    transform: perspective(700px) rotateX(80deg) scale(0.98);
    opacity: 0;
  }
  70% {
    transform: perspective(700px) rotateX(-10deg) scale(1.03);
    opacity: 1;
  }
  to {
    transform: perspective(700px) rotateX(0) scale(1.0);
    opacity: 1;
  }
}

@media (max-width: $breakpoint-lg) {
  .about-me__bg {
    background-position: right top;
    background-image: url('/assets/img/about_me/about_me_hero_blobs_curved_1024.png');
    // background-image: url('/angular-projects/portfolio/assets/img/about_me/about_me_hero_blobs_curved_1024.png');
  }

  .about-me__content {
    padding: 0;
    padding-left: $container-pad-l-r;
  }  
}

@media (max-width: $breakpoint-norm) {

  .about-me__content {
    max-width: 520px;
  }  

  .about-me__headline {
    font-size: 64px;
  }
}

@media (max-width: 950px) {
  
    .about-me__content {
      margin-top: 75vw;
      max-width: 100%;
      padding: 0 $container-pad-l-r;
    }

    .about-me__headline {
      font-size: 54px;
      margin-bottom: 24px;
    }

    .about-me__description {
      font-size: 15px;
      margin-bottom: 24px;
    }

    .about-me__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 880px;
      margin-top: -30px;
    }

    .about-me__bg {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 820px;
      height: 100vw;
      z-index: 1;
      background-position: center bottom; 
      background-image: url('/assets/img/about_me/about_me_hero_blobs_curved_mobile.png');
      // background-image: url('/angular-projects/portfolio/assets/img/about_me/about_me_hero_blobs_curved_mobile.png');
    }

    .about-me__content {
      margin-left: 0;
      align-items: center;
    }

    .about-me__wrapper {
      align-items: flex-start;
    }
   
    .about-me__text {
      width: 100%;
      max-width: 80%;
    }
}


@media (max-width: 650px) {
  .about-me__content {
   padding: 20px $container-pad-l-r 32px $container-pad-l-r;
  }

  .about-me__text {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .about-me__text {
    max-width: 100%;
  }

  .about-me__wrapper {
    margin-top: -20px;
  }
}

@media (max-width: 500px) {
  .about-me__text {
      max-width: 380px;
  }
  .about-me__wrapper {
    margin-top: 0px;
  }
}

@media (max-width: 450px) {
  .about-me__content {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .about-me__info-text {
    font-size: 14px;
    color: $color-text_primary;
    font-weight: 400;
    line-height: 1.4;
  }

  .about-me__headline {
    font-size: 48px;
  }
}

@media (max-width: 425px) {
  .about-me__text {
      max-width: 340px;
  }
}

@media (max-width: 390px) {
  .about-me__text {
      max-width: 320px;
  }

  .about-me__wrapper {
    margin-top: 0px;
  }

  .about-me__headline {
    font-size: 40px;
  }
}

@media (max-width: 375px) {
  .about-me__text {
        max-width: 290px;
  }
}

@media (max-width: 320px) {
  .about-me__text {
    width: 280px;
  }
}