<section class="about-me">
  <div class="about-me__wrapper">
    <div class="about-me__bg"></div>
    <div class="about-me__content">
      <!-- Dein About-Me-Text + ggf. Icons etc -->
      <h2>About me</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius earum quo odio. Necessitatibus distinctio, autem hic porro fugit, perferendis maiores quidem error, quasi quae vel cumque dicta sequi est cupiditate?</p>
      <!-- hier ggf. Listen/SVG-Icons für Softskills etc. -->
    </div>
  </div>
</section>
