@use '../../../styles/_variables' as *;

.legal-notice {
  margin-top: 200px;
  min-height: 100dvh;
  position: relative;
  width: 100%;
  max-width: $container-max;
  display: flex; 
  flex-direction: column; 
  margin-left: auto; 
  margin-right: auto;
}

.legal-notice_header {
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 100px;
}

.legal-notice_header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 91%;
}

.legal-notice_header__headlineContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.legal-notice_header-content__line-left,
.legal-notice_header-content__line-right {
  content: '';
  display: block;
  height: 4px;
  width: 130px;
  background: $color-secondary;
  border-radius: 2px;
  margin: 0 20px;
}

.legal-notice_header-content__line-left {
    margin-left: 0px;
}

.legal-notice_header-content__line-right {
    width: 36vw;
    margin-right: 0px;
}

.legal-notice_header__headline {
  font-size: 61px;
  font-weight: 700;
  color: $color-primary;
  line-height: 1.2;
  letter-spacing: 0;
  margin: 0;
  min-width: 400px;
}

.legal-notice_head-content__variety {
  margin-top: 18px;
  color: $color-text_primary;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.legal-notice_hr {
    content: none;
    height: 4px;
    width: 100%;
    margin-top: 48px;
    margin-bottom: 48px;
    background-color: $color-secondary;
    border-radius: 2px;
}

.legal-notice_content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: $container-max;
    padding: 0 0 100px 0;
}

.imprint-block_headline {
    font-size: 33px;
    line-height: 120%;
    font-weight: 700;
    color: $color-secondary;
    padding-bottom: 24px;
}

.imprint_adress {
    font: 19px;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 24px;
}

.imprint_contact,
.imprint_respo {
    padding-bottom: 16px;
}

.legal-notice_article {
    position: relative;
}

.legal-notice_article-headline {
    color: $color-text_purple;   
    font-size: 19px;
    font-weight: 700;
    line-height: 120%;
}

.legal-notice_article-text {
    color: $color-text;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    padding-bottom: 24px;
}

.legal-notice_mobile-nav-container {
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: $container-pad-l-r;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
}

.legal-notice_mobile-nav-go_back {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $color-secondary;
  border-radius: 50%;
  z-index: 10;
  color: $color-text_purple;
  width: 41px;
  height: 41px;
  transition: all 0.125s ease-in-out;

    &:hover {
        border: 2px solid $color-primary;

        .legal-notice_mobile-nav-go_back-arrow {
          color: $color-primary;
          transition: all 0.125s ease-in-out;
        }
    }
}

.legal-notice_mobile-nav-go_back-arrow {
  color: $color-text_purple;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1620px) {
  .legal-notice_content {
    max-width: 1200px;
  }
}

@media (max-width: 1440px) {
  .legal-notice_content {
    max-width: 1000px;
  }
}

@media (max-width: 1200px) {
  .legal-notice_content {
    padding: 0px $container-pad-l-r 100px $container-pad-l-r;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .legal-notice_header {
    padding-left: 7vw;
  }
  .legal-notice_header__headline {
    font-size: 52px;
    min-width: 327px;
  }
  .legal-notice_header-content__line-right {
    width: 60vw;
  }
}

@media (max-width: 768px) {

  .legal-notice {
    margin-top: 117px;
  }

  .legal-notice_mobile-nav-container {
    display: flex;
  }
}

@media (max-width: 650px) {
  .legal-notice_header__headline {
    font-size: 42px;
    font-weight: 400;
    min-width: 258px;
  }

  .legal-notice_header-content__line-left {
    display: none;
  }
}