<section id="imprint-top" class="legal-notice">

    <nav class="legal-notice_mobile-nav-container">
        <div class="legal-notice_mobile-nav-go_back">
            <a href="#top" 
                class="legal-notice_mobile-nav-go_back-arrow" 
                aria-label="Go back to main content" 
                tabindex="0">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.828 9.02556L8.485 13.6826C8.87546 14.073 8.87546 14.7061 8.485 15.0966C8.09453 15.487 7.46146 15.487 7.071 15.0966L0.707106 8.73266C0.316581 8.34214 0.316582 7.70897 0.707106 7.31845L7.071 0.954558C7.46147 0.564092 8.09453 0.564092 8.485 0.954558C8.87547 1.34502 8.87547 1.97809 8.485 2.36856L3.828 7.02556L15 7.02556C15.5523 7.02556 16 7.47327 16 8.02556C16 8.57784 15.5523 9.02556 15 9.02556L3.828 9.02556Z" fill="currentColor"/>
                </svg>
            </a>
        </div>
     </nav>

    <header class="legal-notice_header">
        <div class="legal-notice_header__wrapper">
            <div class="legal-notice_header__headlineContainer">
                <div class="legal-notice_header-content__line-left"></div>
                <h2 class="legal-notice_header__headline">{{ 'legal_notice.title' | translate }}</h2>
                <div class="legal-notice_header-content__line-right"></div>
            </div>
         </div>
    </header>

    <section class="legal-notice_content">

        <!-- imprint, german/englisch -->
        <div class="imprint-block">
            <div class="imprint-block_headline">{{ 'legal_notice.imprint' | translate }}</div>
            <div class="imprint_adress">
            {{ 'legal_notice.address.name' | translate }}<br>
            {{ 'legal_notice.address.careof' | translate }}<br>
            {{ 'legal_notice.address.street' | translate }}<br>
            {{ 'legal_notice.address.zipcity' | translate }}<br>
            </div>
            <div class="imprint_contact" [innerHTML]="'legal_notice.contact' | translate"></div>
            <div class="imprint_respo">{{ 'legal_notice.responsible' | translate }}</div>
            <div [innerHTML]="'legal_notice.disclaimer' | translate"></div>
        </div>

        <div class="legal-notice_hr"></div>

        <!-- DA-Legal-Notice-Section -->
        <div class="da-legal-notice">

            <div class="legal-notice_article">
                <div class="legal-notice_article-headline">
                    {{ 'legal_notice.da_legal_notice.acceptance' | translate }}     
                </div>
                <div class="legal-notice_article-text" 
                    [innerHTML]="'legal_notice.da_legal_notice.acceptance_text' | translate">
                </div>
            </div>

            <div class="legal-notice_article">
                <div class="legal-notice_article-headline">
                    {{ 'legal_notice.da_legal_notice.scope' | translate }}  
                </div>
                <div class="legal-notice_article-text" 
                    [innerHTML]="'legal_notice.da_legal_notice.scope_text' | translate">
                </div>
            </div>

            <div class="legal-notice_article">
                <div class="legal-notice_article-headline">
                    {{ 'legal_notice.da_legal_notice.proprietary' | translate }}  
                </div>
                <div class="legal-notice_article-text" 
                    [innerHTML]="'legal_notice.da_legal_notice.proprietary_text' | translate">
                </div>
            </div>

            <div class="legal-notice_article">
                <div class="legal-notice_article-headline">
                    {{ 'legal_notice.da_legal_notice.use' | translate }}  
                </div>
                <div class="legal-notice_article-text" 
                    [innerHTML]="'legal_notice.da_legal_notice.use_text' | translate">
                </div>
            </div>

            <div class="legal-notice_article">
                <div class="legal-notice_article-headline">
                    {{ 'legal_notice.da_legal_notice.disclaimer' | translate }}
                </div>
                <div class="legal-notice_article-text" 
                    [innerHTML]="'legal_notice.da_legal_notice.disclaimer_text' | translate">
                </div>
            </div>

            <div class="legal-notice_article">
                <div class="legal-notice_article-headline">
                    {{ 'legal_notice.da_legal_notice.indemnity' | translate }}
                </div>
                <div class="legal-notice_article-text" 
                    [innerHTML]="'legal_notice.da_legal_notice.indemnity_text' | translate">
                </div>
            </div>
            
            <div  class="legal-notice_article-text"
                [innerHTML]="'legal_notice.da_legal_notice.contact_note' | translate">
            </div>
            <div  class="legal-notice_article-text">
            {{ 'legal_notice.da_legal_notice.date' | translate }}
            </div>
        </div>
        </section>

    </section>
