@use '../../../styles/_variables' as *;

/* --- Der eigentliche Check-Container (mit SVG) --- */
.snackbar-check {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(100vw, -50%);
  z-index: 3000;
  pointer-events: none;
  animation: fly-smooth 3.2s ease-in-out forwards;
  will-change: transform, opacity;
}

/* --- Der Glassmorphism-Kreis --- */
.check-circle {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px 2px #17BF6388, 0 2px 24px 0 #0002;
  border-radius: 50%;
  background: rgba(255,255,255,0.24);
  backdrop-filter: blur(10px);
  border: 1.5px solid rgba(23,191,99,0.17);
}

/* --- SMOOTH TRANSFORM! --- */
@keyframes fly-smooth {
  0% {
    opacity: 1;
    transform: translate(100vw, -50%) scale(0.7);
  }
//   12% {
//     opacity: 1;
//     transform: translate(60vw, -50%) scale(1.1);
//   }
//   35% {
//     opacity: 1;
//     transform: translate(0vw, -50%) scale(1.22);
//   }
//   70% {
//     opacity: 1;
//     transform: translate(-40vw, -50%) scale(1.1);
//   }
  100% {
    opacity: 1;
    transform: translate(-110vw, -50%) scale(0.7);
  }
}
