@use '../../../styles/_variables' as *;


section.atf { 
  position: relative;
  background-color: $color-bg;
  // padding-top: calc($header-high + 24px);
}

.atf {
    position: relative;
    margin-top: $header-high;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.atf__art{
  display: flex;
  justify-content: start;
  --stage-w: clamp(280px, 38vw, 560px);
}

.artStage{
  position: relative;
  width: var(--stage-w);
  aspect-ratio: 1292 / 1410;
}

.artStage .hero{
  position: absolute; inset: 0;
  width: 100%; height: 100%;
  object-fit: contain; object-position: bottom center;
  z-index: 20;
}

.artStage .blob{
  position: absolute; 
  z-index: 0;
  pointer-events: none; 
  user-select: none; 
  max-width: none;
}
.artStage .blob--purple{ 
    width: 75%;
    left:  0%;
    bottom:-23%;
    z-index: 5;
}

.artStage .blob--green { 
    width: 96.5%;
    right: -18%;
    top:    1.8%;
    z-index: 10;
}

//////////////////////////////////////////////////


.atfCurve{
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  pointer-events: none;
  width: 100%;
  max-width: $container-max;
  margin-inline: auto;

  @media (max-width: 700px) {
    top: 31%;
  }  
  @media (max-width: 654px) {
    top: 35%;
  }
  @media (max-width: 616px) {
    top: 38%;
  }
  @media (max-width: 576px) {
    top: 42.5%;
  }
  @media (max-width: 544px) {
    top: 46%;
  }
  @media (max-width: 480px) {
    top: 51.5%;
  }
  @media (max-width: 448px) {
    top: 54%;
  }
  @media (max-width: 400px) {
    top: 58%;
  }
  @media (max-width: 380px) {
    top: 61%;
  }
  @media (max-width: 340px) {
    top: 64%;
  }
}
