<section id="welcome" class="atf">
  
    <div class="container atf__layout">
    <div class="atf__text">
      <!-- H1/Sub/CTA  -->
    </div>

    <div class="atf__art">
        <div class="artStage">
            <!-- <img class="blob blob--green"  src="../../../assets/img/green_shadow1.png"  alt="" aria-hidden="true">
            <img class="blob blob--purple" src="../../../assets/img/purple_shadow1.png" alt="" aria-hidden="true">
            <img class="hero" src="../../../assets/img/hero/hero_dummy_1292x1410.png" -->
            <img class="blob blob--green"  src="assets/img/green_shadow1.png"  alt="" aria-hidden="true">
            <img class="blob blob--purple" src="assets/img/purple_shadow1.png" alt="" aria-hidden="true">

            <img class="hero" src="assets/img/hero/hero_dummy_1292x1410.png"
                width="1292" height="1410"                      
                alt="{{ 'HERO_ALT' | translate }}">
        </div>
    </div>

  </div>
</section>
