<section id="welcome" class="atf container">

    <div class="atf__wrapper">

      <div class="container atf__layout">
        <div class="atf__text">

          <!-- H1/Sub/CTA  -->
        </div>

        <div class="atf__art">
            <div class="artStage">
                <img class="blob blob--green"  src="assets/img/green_shadow1.png"  alt="" aria-hidden="true">
                <img class="blob blob--purple" src="assets/img/purple_shadow1.png" alt="" aria-hidden="true">

                <img class="hero" src="assets/img/hero/hero_dummy_1292x1410.png"
                    width="1292" height="1410"                      
                    alt="{{ 'HERO_ALT' | translate }}">
            </div>
        </div>

      </div>

      <img class="atfCurve" src="assets/img/atf_curved.svg" alt="" aria-hidden="true" />

      <div class="atf-headline container">
          <span class="iam">I am</span>
          <div class="atf-info">
            <span class="name">Meik Behr</span>
            <span class="title">FRONTEND DEVELOPER</span>
            <div class="cta-center">
              <a href="#contact" aria-label="Kontaktformular"><button class="cta">Let’s talk!</button></a>
            </div>
          </div>

      </div>



      <!-- atf bottom line -->
       <div class="atf-bottom">
        <div class="atf-bottom__left">
          <div class="atf-bottom__line"></div>
          <div class="atf-bottom__icons">
            <a href="https://github.com/DeinProfil" target="_blank" aria-label="GitHub">
              <img src="assets/img/github.png" alt="GitHub Icon" />
            </a>
            <a href="#contact" aria-label="Kontaktformular">
              <img src="assets/img/mail.png" alt="E-Mail Icon" />
            </a>
            <a href="https://linkedin.com/in/DeinProfil" target="_blank" aria-label="LinkedIn">
              <img src="assets/img/linkedIn.png" alt="LinkedIn Icon" />
            </a>
          </div>
          <div class="atf-bottom__mail">
            <a href="#contact" aria-label="Kontaktformular">dev.behr&#64;gmx.de</a>
          </div>
        </div>
        <div class="atf-bottom__right">
          <button class="atf-scroll-down">
            Scroll down <span>&rarr;</span>
          </button>
        </div>
      </div>


    </div>



  </section>
