@use 'styles/_variables' as *;
@use 'styles/_mixins' as *;
@use "sass:color";
@use 'sass:math';



* {
  margin: 0;
  padding: 0;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: light;
  font-size: 100%;
  scroll-behavior: smooth;
  display: inline-block;
}


[id] { scroll-margin-top: 109px; } /* ggf. auf deine echte Headerhöhe anpassen */


body {
  min-height: 100dvh;
  width: 100%;
  font-family: $font-family;
  font-size: $body-size;
  line-height: $line-height;
  color: $color-text;
  background: $color-bg;
  overflow: visible;
  direction: ltr;
}

.container {
  max-width: $container-max;
  padding-inline: $container-pad;
  margin-inline: auto;
}

.d-none {
  display: none !important;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:focus {
  text-decoration: none;
}

a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}


@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.ttf') format('truetype');
}

.greenTheme {
    color: #70E61C;
}

.purpleTheme {
    color: #9747FF;
}


// Breakpoints 
@media (max-width: $breakpoint-content) {}
@media (max-width: $breakpoint-lg) {}
@media (max-width: $breakpoint-md) {}
@media (max-width: $breakpoint-sm) {}
@media (max-width: $breakpoint-xs) {}
@media (max-width: $breakpoint-xxs) {}

footer {
  border: 2px solid red;
}

.test {
    margin-top: 100px;
    min-height: 200px;
    background-color: aqua;
    border: 5px solid red;
}