@use '../../../styles/_variables' as *;

$paddingRightText : 100px;
$paddingRightText1200: 80px;


.skills {
  position: relative;
}

.skills-desktop {
  display: flex;
}

.skills-mobile {
  display: none;
}

.skills-section {
  background: $color-bg;
  width: 100%;
  margin-top: -240px;
  margin-bottom: 50px;
}

.skills-section__wrapper {
  max-width: $container-max;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 0 100px;
  position: relative;
  overflow: hidden;
  z-index: 30;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 112px);
  gap: 40px 88px;
  min-width: 420px;
  max-width: 580px;
  width: 40%;
  padding-top: 18px;
  z-index: 1;
}


.skills-grid__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 80px;
  min-height: 100px;
}

.skills-grid__item--empty {
  visibility: hidden;
}

.skills-grid__icon {
  height: 60px;
  width: auto;
  margin-bottom: 10px;
  display: block;
}

.skills-grid__label {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  color: $color-text_primary;
  white-space: pre-line;
}

.skills-content {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 14px;
  min-width: 340px;
  max-width: 540px;
}

.skills-content__inner {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-end;
}

.skills-content__headlineContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.skills-content__headline {
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 10px;
  color: $color-text_primary;
  padding-right: 16px;
}

.skills-content__line {
  width: 68px;
  height: 4px;
  background: $color-primary;
  border-radius: 3px;
}

.skills-content__variety {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: $color-text_primary;
  margin-bottom: 8px;
  text-align: end;
}

.skills-content__subheadline {
  font-size: 28px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 8px;
  display: flex;
  gap: 7px;
  text-align: end;
}

.skills-content__subheadline-normal {
  color: $color-text_primary;
  text-align: end;
}

.skills-content__subheadline-purple {
  color: $color-text_purple;
  text-align: end;
}

.skills-content__reveal {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: $color-text_primary;
  margin-bottom: 14px;
  text-align: end;
}

.skills-content__cta-center {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 16px;
}

.skills-content__cta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 58px;
  font-size: 23px;
  border-radius: 10px;
  background: $color-primary;
  color: $color-text_primary;
  font-weight: 500;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
  transition: all 0.13s;
  &:hover { 
    background: $color-text_purple;
    transform: scale(1.06);
  }
}

.skills-desktop .skills-section__wrapper {
  padding-right: 0;
}

.skills-desktop .skills-content__inner-text {
  padding-right: 100px;
}

.skills-desktop .skills-content__line {
  width: 84px;
}


.skills-content__cta:hover,
  .skills-content__cta:active {
    animation: bottomFlash 0.6s forwards;
  }

  @keyframes bottomFlash {
    0% {
      background: $color-primary;
    }
    10% {
      background: $color-secondary;
    }
    80% {
      background: $color-secondary;
    }
    100% {
      background: $color-primary;
      transform: scale(1.0);
    }
}

.skills-grid__item--continually {
  color: $color-text_purple;
  fill: $color-text_purple;
}

.skills-grid__item--continually .skills-grid__label {
  color: $color-text_purple;
}

.skills-grid__item--continually:hover {
  color: $color-text_primary;
  fill: $color-text_primary;
  transition: all 125ms ease-in-out;

  .skills-grid__label {
    color: $color-text_primary;
    transition: all 125ms ease-in-out;
  }

  .skills-tooltip {
  opacity: 1!important;
  pointer-events: none;
}
}


.skills-tooltip {
    position: absolute;
    left: 110%;
    top: -180px;
    transform: translateX(-50%) scale(0.9);
    transition: all 125ms ease-in-out;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    min-width: 180px;
    background: #fff;
    color: #191e2d;
    border-radius: 18px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.17);
    transition: all 0.22s cubic-bezier(.68,-0.55,.27,1.55);
    padding: 12px;
    text-align: center;
    box-shadow: 0 6px 24px 0 rgba(30, 30, 70, 0.14), 0 1.5px 6px 0 rgba(20, 20, 40, 0.08);
}

.skills-tooltip {
  opacity: 0;
  pointer-events: none;
}

.skills-tooltip--open {
  opacity: 1;
  pointer-events: auto;
}

.continually-learning {
  position: relative;
  &:hover .skills-tooltip,
  &:focus .skills-tooltip {
    opacity: 1;
    transform: translateX(-50%) scale(1);
    transition: all 125ms ease-in-out;
    pointer-events: auto;
  }
}


.skills-tooltip__arrow {
  position: absolute;
  left: 30%;
  bottom: -15px;
  transform: translateX(-50%);
  width: 24px;
  height: 16px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 14px solid rgba(250,250,250,1);
}

.skills-tooltip__logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  margin-top: 16px;

  & svg {
    width: 40px;
    height: 40px;
  }
}

.skills-tooltip__labels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}



.skills-blob {
  position: absolute;
  top: -312px;
  left: -30px;
  width: 290px;
  height: 700px;
  background: url("/assets/img/skills/skills_green_shadow.png");
  // background: url("/angular-projects/portfolio/assets/img/skills/skills_green_shadow.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.skills-blob-container {
  position: relative;
  max-width: 1440px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}


.skill-svg {
  opacity: 0;
  transform: scale(0.1) rotate(-26deg);
  transition: opacity 0.7s cubic-bezier(.4,0,.2,1), transform 0.8s cubic-bezier(.4,0,.2,1);
}

.skill-svg.is-inview {
  opacity: 1;
  transform: scale(1) rotate(0deg);
  filter: drop-shadow(0 4px 18px rgba(80,200,120,0.21));
}






/* --------- MEDIA ------------- */



@keyframes bounceTooltip {
  0%   { transform: translateY(0); }
  10%  { transform: translateY(-14px); }
  40%  { transform: translateY(-14px); }
  100% { transform: translateY(0); }
}

.skills-grid__item:hover .skills-grid__icon {
  animation: bounceTooltip 1s cubic-bezier(.32,1.56,.53,.93) 1;
}

@media (min-width: 950px) and (hover: hover) and (pointer: fine) {
  .skills-grid__item:hover .skills-grid__icon {
    animation: bounceTooltip 1s cubic-bezier(.32,1.56,.53,.93) 1;
  }
}


@media (max-width: 949px) {
  .skills-grid__item .skills-grid__icon {
    animation: none !important;
  }

  .skills-grid__item--continually:hover,
  .skills-grid__item--continually:active {
    animation: hoverFlash 2.8s forwards;
  }

  @keyframes hoverFlash {
    0% {
      color: $color-text_purple;
      fill: $color-text_purple;
    }
    10% {
      color: $color-text_primary;
      fill: $color-text_primary;
    }
    80% {
      color: $color-text_primary;
      fill: $color-text_primary;
    }
    100% {
      color: $color-text_purple;
      fill: $color-text_purple;
    }
  }

  .skills-grid__item--continually:hover .skills-grid__label,
  .skills-grid__item--continually:active .skills-grid__label {
    animation: hoverFlash 2.8s forwards;
  }
}




.skills-grid__item--continually:hover,
  .skills-grid__item--continually:active {
    animation: hoverFlash 2.8s forwards;
  }

  @keyframes hoverFlash {
    0% {
      color: $color-text_purple;
      fill: $color-text_purple;
    }
    10% {
      color: $color-text_primary;
      fill: $color-text_primary;
    }
    80% {
      color: $color-text_primary;
      fill: $color-text_primary;
    }
    100% {
      color: $color-text_purple;
      fill: $color-text_purple;
    }
}

.skills-grid__item--continually:hover .skills-grid__label,
.skills-grid__item--continually:active .skills-grid__label {
  animation: hoverFlash 2.8s forwards;
}


@media (max-width: 1320px) {
  .skills-grid {
    gap: 34px 62px;
  }

  .skills-content {
    max-width: 470px;
  }
}


@media (max-width: 1200px) {

  .skills-grid {
    gap: 34px 34px;
  }

  .skills-content__line {
    width: calc(14vw - 16px);
  }

  .skills-desktop .skills-section__wrapper {
    padding-right: 0;
  }

  .skills-desktop .skills-content__inner-text {
    padding-right: 7vw;
  }

  .skills-desktop .skills-content__line {
    width: calc(7vw - 16px);
  }

  .skills-section__wrapper {
    margin: 0;
    padding: 0 $container-pad-l-r 0 $container-pad-l-r;
  }

  .skills-content__variety,
  .skills-content__subheadline,
  .skills-content__reveal,
  .skills-content__cta-center {
    padding-right: $paddingRightText1200;
  }

  .skills-content__variety,
  .skills-content__subheadline,
  .skills-content__reveal,
  .skills-content__cta-center {
    padding-right: 0;
  }

}


@media (max-width: 1024px) {

  .skills-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 100px);
    gap: 12px 12px;
  }

  .skills-section {
    margin-top: -300px;
  }

  .skills-grid__item img {
    min-height: 60px;
    min-width: 50px;
  }

  .skills-grid__item img {
    height: 50px;
  }

  .skills-tooltip {
    position: absolute;
    left: 90%;
    top: -180px;
    min-width: 180px;
  }
}



.skills-mobile {
  display: none;
  flex-direction: column;
  margin-top: 100px;
}



@media (max-width: 950px) {

  .skills-desktop {
    display: none;
  }

  .skills-mobile {
    display: flex;
  }

  .skills-grid-3 {
    display: none;
  }

  .skills-section {
    margin-top: 0px;
  }

  .skills-content {
    max-width: 100%;
  }

  .skills-section__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .above {
    padding-left: $container-pad-l-r;
    padding-right: $container-pad-l-r;
  }

  .skills-content__headlineContainer {
    width: 100%;
  }

  .skills-content__line {
    display: inline-block;
    background-color: $color-primary;
  }

  .skills-grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skills-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 40px 40px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
  }

  .skills-grid__item img {
    min-height: 70px;
    min-width: 60px;
  }

  .above .skills-content__variety {
    padding-right: 0;
  }

  .above .skills-content__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
  }

  .below {

    .skills-content__subheadline,
    .skills-content__reveal,
    .skills-content__cta-center {
      padding-right: 0;
    }

    .skills-content__inner {
      align-items: flex-end;
      padding-right: 62px;
      padding-left: 62px;
    }
  }


  .skills-tooltip {
    position: absolute;
    left: 120%;
    top: -180px;
    min-width: 180px;
  }

  .skills-blob {
    top: -521px;
    left: -0.5%;
  }
}

@media (max-width: 768px) {
    .skills-blob {
      left: -0.5%;
      top: -521px;
      width: 200px;
      height: 545px;
    }

    .skills-content__reveal {
      max-width: 85%;
    }
}


@media (max-width: 650px) {
  .above {
    padding-left: 0;
    padding-right: 0;
  }

  .below {
    .skills-content__inner {
      padding: 0;
    }
  }

  .skills-grid {
    width: 100%;
  }

  .skills-content__line {
    width: 7vw;
  }
  
}


@media (max-width: 600px) {

  .skills-grid {
    display: none;
  }

  .skills-grid-3 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }


  .skills-grid-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 420px;
    max-width: 580px;
    width: 40%;
    padding-top: 18px;
  }

  .skills-grid__top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 112px);
    gap: 40px 88px;
    min-width: 420px;
    max-width: 580px;
    width: 40%;
    padding-top: 18px;
  }

  .skills-grid__bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 112px);
    gap: 40px 0px;
    min-width: 420px;
    max-width: 580px;
    width: 40%;
  }

  .skills-content__headline {
      font-size: 45px;
  }

  .skills-blob {
      left: -0.5%;
      top: -521px;
      width: 170px;
      height: 624px;
  }
}



@media (max-width: 500px) {

 
  .skills-grid__item img {
    width: 48px;
    height: 48px;
  }

  .below {
    margin-top: 32px;

    .skills-content__cta-center {
      justify-content: center;
    }
  }

    .skills-tooltip {
      position: absolute;
      left: 90%;
      top: -180px;
      min-width: 180px;
    }
  
  .skills-grid__top {
    gap: 40px 0px;
  }

  .skills-grid__bottom {
    gap: 40px 0px;
    min-width: 70%;
  }

  .skills-blob {
      left: -2.5%;
      top: -521px;
      width: 150px;
      height: 480px;
  }

  .skills-content {
    min-width: 0;
  }
}


@media (max-width: 480px) {
  .skills-content__subheadline {
    font-size: 20px;
    gap: 8px;
  }

  .skills-grid__icon {
    min-height: 48px;
    min-width: 48px;
  }

  .skills-grid-3 {
    min-width: 100%;
  }

  .skills-grid__top {
    min-width: 360px;
  }

  .skills-tooltip {
    left: 70%;
    top: -180px;
    min-width: 180px;
  }

  .skills-grid__bottom {
    min-width: 60%;
  }

  .skills-tooltip__arrow {
    left: 40%;
    bottom: -15px;
    transform: translateX(-50%);
  }

  .skills-grid__item img {
    min-width: 48px;
    min-height: 48px;
  }

  .skills-grid__bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 90px);
    gap: 20px 0px;
  }

}

@media (max-width: 420px) {
    .skills-blob {
      left: -2.5%;
      top: -521px;
      width: 132px;
      height: 480px;
  }

  .skills-grid__label {
    font-size: 14px;
  }
}

@media (max-width: 390px) {
  .skills-content__variety {
    padding-right: 32px;
  }

  .skills-grid__top {
    min-width: 300px;
  }

  .skills-grid__top {
    gap: 12px 0px;
  }

  .below .skills-content__variety {
      hyphens: auto;
      word-break: break-all;
      overflow-wrap: break-word;
      white-space: pre-line;
  }

  .skills-blob {
    left: -4.5%;
    top: -521px;
    width: 150px;
    height: 480px;
  }
}


@media (max-width: 320px) {
  .skills-content__variety {
    padding-right: 70px;
    line-height: 1.5;
  }

  .below .skills-content__reveal {
    padding-right: 20px;
  }

  .below .skills-content__subheadline {
    padding-right: 20px;
  }

  .below .skills-content__reveal {
    line-height: 1.4;
  }

  .skills-blob {
    left: -28.5%;
    top: -600px;
    width: 198px;
    height: 570px;
    transform: rotate(17deg);
  }

}